<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Appointment List</span>
    </ion-nav-title>
    <ion-content>
        <div class="row tabnav">
            <div class="col"><a  ui-sref="app.patient-app-list({id: {{patientId}}})" class="active" >Active</a></div>
            <div class="col"><a  ui-sref="app.patient-past-app-list({id: {{patientId}}})"  >Past</a></div>
        </div>
        <h4 class="txt-center"> {{all_app.length==0? 'No appointments': ''}}</h4>
        <div  class="list card post-item" ng-repeat="app in all_app track by $index" > <!--| orderBy: 'scheduled_start_time'-->
            <div class="post-heading item item-text-wrap p0">
                <div class="item item-divider" ng-repeat="user in all_usersData[$index]">{{user.fname}} {{user.lname}}</div> <!--| orderBy: 'scheduled_start_time'-->
                <div class="p15">
                    <div ng-if="all_note[$index].length > 0">
                        <a class="btn drstatus" ng-click="viewNote(all_note[$index][0].id)">
                            <span class="icon ion-plus-circled"></span>View Note
                        </a>
                    </div>
                    <div ng-if="all_note[$index].length == 0">
                        <a ng-click="addCnote(app.id)"  class="btn drstatus">
                            <span class="icon ion-plus-circled"></span> Note
                        </a>
                    </div>
                    <div ng-if="all_note.length == 0">
                        <a ng-click="addCnote(app.id)" class="btn drstatus">
                            <span class="icon ion-plus-circled"></span> Note
                        </a>
                    </div>
                    <p><strong>Mode : </strong> {{app.mode==1? 'Video': app.mode==3? 'Clinic': app.mode==4? 'Home': app.mode==2? 'Chat':''}}</p>
                    <p><strong>Appointment Time : </strong> {{app.scheduled_start_time|dateFormat3}}, {{app.scheduled_start_time|time1}} to {{app.scheduled_end_time|time1}}</p>
                </div>
                <div class="post-actions  post-footer p0">
                    <div class="row cardbtn-small p0">
                        <div class="row cardbtn-small p0">
                            <div class="col" ng-if="app.mode == 1"><a class="cbtn cancel" confirmed-click="cancelAppointment(app.id, prod.user_id, app.mode, app.scheduled_start_time)" ng-confirm-click="Do you really want to cancel?"><i class="ion-close"></i> Cancel</a></div>
                            <!---<div class="col" ng-if="app.appointments.mode == 1"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?" class="cbtn">Reschedule</a></div>-->
                            <div class="col" ng-if="app.mode == 3 || app.mode == 4"><a class="cbtn cancel" ng-controller="CancelDctrCtrl" ng-click="cancelApp(app..id prod.user_id, app.mode, app.scheduled_start_time)"><i class="ion-close"></i> Reschedule</a></div>
                            <!---<div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"   class="cbtn">Reschedule</a></div>-->
                            <div class="col" ng-if="app.mode == 1"><a  ng-click="joinVideo(app.mode, all_time[$index], all_end_time[$index], app.id, all_usersData[$index][0].id)"  class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
                            <div class="col" ng-if="app.mode == 3 || app.mode == 4"><a ui-sref="#" class="cbtn conduct">Conduct</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
        <script id="canceldctr" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Doctor Consultations</h1>  
        <button class="button button-clear" ng-click="closeCdctr()">Cancel</button>
        </ion-header-bar>
        <ion-content>
        <div class="list">
        <ion-radio ng-model="can.opt" class="can-opt" name="can-option" ng-value="7" value="7">Your No Show</ion-radio>
        <ion-radio ng-model="can.opt" class="can-opt" name="can-option" ng-value="6" value="6">Patient No Show</ion-radio>
        <ion-radio ng-model="can.opt" class="can-opt" name="can-option" ng-value="2" value="2">Cancelled by Patient</ion-radio>
        <ion-radio ng-model="can.opt" class="can-opt" name="can-option" ng-value="1" value="1">Cancelled by you</ion-radio>
        </div>
        <button class="button button-full button-positive" ng-click="submitmodal(canoption)">Submit</button>
        </ion-content>
        </ion-modal-view>
    </script>
    <script id="canceldr" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Doctor Consultations</h1>  
        <button class="button button-clear" ng-click="closeCdr()">Cancel</button>
        </ion-header-bar>
        <ion-content>
        <div class="list">
        <ion-radio ng-model="can.opt" name="can-option" class="can-opt" ng-value="2" value="2">Cancelled by Patient</ion-radio>
        <ion-radio ng-model="can.opt" name="can-option" class="can-opt" ng-value="1" value="1">Cancelled by you</ion-radio>
        </div>
        <button class="button button-full button-positive" ng-click="submitmodal()">Submit</button>
        </ion-content>
        </ion-modal-view>
    </script>
</ion-view>