<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>{{tabmenu.appointment_list[language]}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="row tabnav">
            <div class="col"><a  ui-sref="app.patient-app-list({id: {{patientId}}})"  >Active</a></div>
            <div class="col"><a  ui-sref="app.patient-past-app-list({id: {{patientId}}})" class="active" >Past</a></div>
        </div>
        <h4 class="txt-center"> {{all_app_past.length==0? 'No appointments': ''}}</h4>
        <div  class="list card post-item" ng-repeat="app in all_app_past track by $index" > <!-- | orderBy: 'scheduled_start_time' -->
            <div class="post-heading item item-text-wrap p0">                
                <div class="item item-divider" ng-repeat="user in all_usersData[$index]">{{user.fname}} {{user.lname}}</div> <!-- | orderBy: 'scheduled_start_time' -->
                <div class="p15">
                    <div ng-if="all_note_past[$index].length > 0">
                        <a class="btn drstatus"ng-click="viewNote(all_note_past[$index][0].id)">
                            <span class="icon ion-plus-circled"></span>View Note
                        </a>
                    </div>
                    <div ng-if="all_note_past[$index].length == 0">
                        <a ng-click="addCnote(app.id)" class="btn drstatus">
                            <span class="icon ion-plus-circled"></span> Note
                        </a>
                    </div>
                    <div ng-if="all_note_past.length == 0">
                        <a ng-click="addCnote(app.id)" class="btn drstatus">
                            <span class="icon ion-plus-circled"></span> Note
                        </a>
                    </div>
                    <p><strong>Mode : </strong> {{app.mode==1? 'Video': app.mode==3? 'Clinic': app.mode==4? 'Home': app.mode==2? 'Chat':''}}</p>
                    <p><strong>Appointment Time : </strong> {{app.scheduled_start_time|dateFormat3}}, {{app.scheduled_start_time|time1}} to {{app.scheduled_end_time|time1}}</p>
                </div>
                <div class="post-actions  post-footer p0">
                    <div class="row cardbtn-small p0">
                        <div class="cardpast-bar {{app.status==3?'fgreen':'fred'}}"><i class="{{app.status==3?'ion-checkmark':'ion-close'}}"></i> {{app.status==3?'Consulted':app.status==4?'Cancelled':app.status==6?'Patient no-show':app.status==7?'Doctor no-show':''}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>