<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Video Article  </span>
    </ion-nav-title>
    <div class="row tabnav headtab">
        <div class="col"><span class="nbtn active"  rel="tabone"  >1. Describe</span></div>
        <div class="col"><span class="nbtn"  rel="tabtwo"  >2. Record Video</span></div>
        <div class="col"><span class="nbtn" rel="tabthree"  >3. Confirm</span></div>
    </div>
    <form name="addNewVideoArticle" id="addNewVideoArticle" enctype="multipart/form-data" novalidate>

        <input type="hidden" name="docid" value="{{doctorId}}"  ng-model="doctorId"/>
        <input type="hidden" name="viedoUrl" value="{{viedoUrl}}"  ng-model="viedoUrl"/>
        <input type="hidden" name="archiveId" value="{{aid}}"  ng-model="aid"/>
        <ion-content class="has-footer"> 





            <div class="notetab mrl2" id="tabone" >
                <div class="item item-divider mt15">Title</div>
                <label class="item item-input">
                    <input type="text" name="title" ng-model="title" placeholder="Title" maxlength="100"  required="" />
                </label>

                <div class="item item-divider mt15">Description</div>

                <label class="item item-input">
                    <input type="text" name="desc" ng-model="desc" placeholder="Description" maxlength="200"  required=""/>
                </label>


                <div class="item item-divider mt15">Share With </div>

                <!--       <ion-list ng-init="sharewith = 2">
                          <ion-radio name="sharewith" ng-model="sharewith"  ng-repeat="tg in target_groups" value="{{tg.id}}">{{tg.target_group}}</ion-radio>
                      </ion-list> -->

                <select name="sharewith" ng-model="sharewith"  class="cselectn" required="">
                    <option value="" selected="selected" >Please Select</option>
                    <option ng-repeat="tg in target_groups" value="{{tg.id}}">{{tg.target_group}}</option>
                </select>

                <div class="list"> </div>
				<div class="footerspacer"></div>
				
				
            </div>	

            <div class="notetab mrl2" id="tabtwo" style="display:none;" >
                <div class="fltr-mesg" > <span><strong>Recording:</strong> {{recording}}</span> &nbsp <span><strong>Time:</strong> {{result}}</span> </div>
                <div class="mediascreen">
                    <div id='subscribersDiv' class="subscribediv">Initializing Video</div> 
                </div>

                <div class="videoscreen">
					<div class="vbtn">
                                            <button type="button"  ng-click="playVideoPreview(aid)" >
                            <i class="ion-play f20"></i> <br/>View
                        </button>
					</div>  

                </div> 

            </div>	

			
			

            <div class="notetab mt60 mrl2" id="tabthree" style="display:none;" >
                <div class="item item-divider mt15">Category {{catchoice}}</div>
                <ion-list>
                    <ion-checkbox ng-model="catchoice"  ng-click="isChecked()"  ng-checked="catId.indexOf(cats.id) !== -1" name="catchoice[]" ng-repeat="cats in category" id="check-box-{{$index}}" ng-value="{{cats.id}}" value="{{cats.id}}">{{cats.specialization}}</ion-checkbox>
                </ion-list>
                <div class="item item-divider mt15">Language</div>
                <ion-list>
                    <ion-checkbox ng-model="langchoice" ng-checked="lang.id == 1"  name="langchoice[]" ng-repeat="lang in languages" ng-value="{{lang.id}}">{{lang.language | capitalize}}</ion-checkbox>
                </ion-list>
            </div>	







        </ion-content>
        <div class="footerbar">
            <!-- <button type="submit" ng-click="submit()" class="button button-positive"  style="width:100%" ng-disabled="addRecordForm.$invalid">Submit</button> -->
            <div class="tab-buttons">
                <div class="fixedbar row tbtn active brd0" rel="tabone">
                    <div class="col button btn-share" ng-click="tabclick('tabtwo')" ng-disabled="addNewVideoArticle.title.$invalid || addNewVideoArticle.desc.$invalid || addNewVideoArticle.sharewith.$invalid">Next</div>
                </div>
				
                <div class="fixedbar row tbtn" rel="tabtwo">
                    <div class="col  button btn-share btn-add start brd0 hide" ng-click="recordVideo()"><i class="ion-record f20"></i> Start Recording</div>
                    <div class="col  button  btn-delete stop hide" ng-click="recordingStop()" ><i class="ion-stop f20 brd0"></i>  Stop Recording</div>
                    <div class="col col-50 button btn-share rerecording hide brd0" ng-click="reRecording()" > <i class="ion-record f20"></i> Re-record</div>
                    <div class="col col-50 button btn-add next brd0 hide" ng-click="tabclick('tabthree')" >Proceed</div>
                </div>
                <div  class="fixedbar row tbtn" rel="tabthree">

                    <button type="button" class="col button btn-add" ng-disabled="checkboxval" ng-click="submitNewVideoArticle()">Submit</button>
                </div>
            </div>
        </div>

    </form>
</ion-view>


<script id="viewvideo" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">View Recording</h1>	 
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>




<iframe  class="iframevideo"  frameborder="0" allowfullscreen="1" ng-src="{{trustSrc(playurl)}}"></iframe>

	<!-- <video width="100%" style="min-height:50px;" controls autoplay>
						  <source src="{{trustSrc(playurl)}}" type="video/mp4">
						  <source src="{{trustSrc(playurl)}}" type="video/ogg">
						  Your browser does not support the video tag.
						</video>  -->



    </ion-content>

    </ion-modal-view>
</script>






