<ion-view class="category-list-view">
  <ion-nav-title>
    <span>About</span>
</ion-nav-title>

  <ion-content>
 <div class="tabcon2"> 
                  
					   
					   
						 
						    
					   
					   
					   
						
					   
					
					   
					
					  
						 
						
						 
							
							
						
					
					 
					 
					 
					
					 
					 

  </ion-content>
  <div class="fixedbar">
  <a class="button btn-delete" ui-sref="app.consultations-note" ><i class="ion-close"></i> Cancel</a>
	  <div class="button btn-add"><i class="ion-checkmark"></i> Save</div>
	</div>
  
</ion-view>