<ion-view class="records-view">
    <ion-nav-title>
        <span>View Consultation Note</span>
    </ion-nav-title>
    <form name="addRecordForm" id="addRecordForm" enctype="multipart/form-data" novalidate >
        <ion-content>        
            <div class="tabcon2">
                <div ng-repeat="rec in recordDetails track by $index" class="p0">
                    <div> 
                    </div>
                    <div ng-if="rec.fields.field == 'Includes Prescription' && isAttachment != ''">
                        <div class="item item-divider" ng-if="rec.value != '' && rec.value != 0">
                            <span>{{rec.fields.field}} </span></div>
                        <div class="ditem-content" ng-if="rec.value != 0">{{rec.value}}</div>
                    </div>
                    <div ng-if="rec.fields.field == 'Valid till' && isAttachment != ''">
                        <div class="item item-divider" ng-if="rec.value != ''">
                            <span>{{rec.fields.field}} </span>
                        </div>
                        <div class="ditem-content">
                            <div ng-if="rec.value == '0000-00-00'"> NA </div>
                            <div ng-if="rec.value != '0000-00-00' && rec.value != ''">{{rec.value|dateFormat4}}</div>
                        </div>
                    </div>
                    <div ng-if="rec.fields.field != 'Includes Prescription' && rec.fields.field != 'Valid till'">
                        <div class="item item-divider">
                            <span>{{rec.fields.field}} {{rec.fields.is_mandatory==1? '*':''}}</span></div>
                        <div ng-if="rec.fields.field == 'Case Id'">
                            <div class="ditem-content">{{cases[$index].value}}</div>
                        </div>

                        <div ng-if="rec.fields.field == 'Prescribed By' || rec.fields.field == 'Measured By' || rec.fields.field == 'Referred By' || rec.fields.field == 'Performed By' || rec.fields.field == 'Consultant'" >
                            <!--- ng-show="angular.isNumber(rec.value)"  -->
                            <div class="ditem-content">{{doctrs[$index].fname}} {{doctrs[$index].lname}}</div>
                        </div>
                        <div ng-if="rec.fields.field == 'Patient'" >
                            <!--- ng-show="angular.isNumber(rec.value)"  -->
                            <div class="ditem-content">{{patients[$index].fname}} {{patients[$index].lname}}</div>
                        </div>
                        <div class="ditem-content" ng-if="rec.fields.field == 'Mode'">
                            {{rec.value==1? 'Video': rec.value==2? 'Chat': rec.value==3? 'Clinic': rec.value==4? 'Home':rec.value }}
                        </div>

                        <div class="ditem-content" ng-if="rec.fields.field != 'Patient' && rec.fields.field != 'Attachments' && rec.fields.field != 'Prescribed By' && rec.fields.field != 'Measured By' && rec.fields.field != 'Referred By' && rec.fields.field != 'Performed By' && rec.fields.field != 'Consultant' && rec.fields.field != 'Related Problem' && rec.fields.field != 'Case Id' && rec.fields.field != 'Mode'">
                            <div ng-if="rec.fields.field_type == 8">
                                <div ng-if="rec.value == ''">NA</div>
                                <div ng-if="rec.value == '0000-00-00'"> NA </div>
                                <div ng-if="rec.value != '0000-00-00' && rec.value != ''">{{rec.value|dateFormat4}}</div>
                            </div>
                            <div ng-if="rec.fields.field_type == 12">                                
                                <div ng-if="rec.value == ''"> NA </div>
                                <div ng-if="rec.value == '00:00:00'"> NA </div>
                                <div ng-if="rec.value != '00:00:00' && rec.value != '' && rec.value != '0000-00-00'">{{rec.value|time1}}</div>
                            </div>
                            <div ng-if="rec.fields.field_type != 8 && rec.fields.field_type != 12"> {{rec.value}}</div>
                        </div>
                        <div class="clist-data-icon ditem-content" ng-if="rec.fields.field == 'Attachments'" >

                            <!--  <a href="{{attachpath}}{{attach.attachment_path}}{{attach.orginial_name}}" target="_blank" class="button button-outline button-positive" style="width:100%" ng-If="rec.attachments.length > 0" ng-repeat="attach in rec.attachments" >
                                 <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})</a> -->
                            <div ng-repeat="attach in rec.attachments" ng-if="rec.attachments != ''" >
                                <div ng-init="selData = (attach.orginial_name).split('.')">
                                    <div ng-if="selData[1] == 'png' || selData[1] == 'gif' || selData[1] == 'jpg' || selData[1] == 'PNG' || selData[1] == 'GIF' || selData[1] == 'JPG'">
                                        <a class="filelink" ng-click="showm('{{attach.attachment_path}}','{{attach.orginial_name}}')" >
                                            <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                        </a>
                                    </div>
                                    <div ng-if="selData[1] != 'png' && selData[1] != 'gif' && selData[1] != 'jpg' && selData[1] != 'PNG' && selData[1] != 'GIF' && selData[1] != 'JPG'">
                                        <a class="filelink" href="{{attachpath}}{{attach.attachment_path}}{{attach.orginial_name}}"  download>
                                            <span class="ico"><i class="ion-paperclip"></i></span> ({{$index + 1}})
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="clr"></div>		
                        </div>
                    </div>
                </div>
                <div class="item item-divider">
                    <span>Other Details</span>
                </div>
                <div class="flexcont">
                    <div class="innerdiv col-50 brdright">
                        <div class="p10" ><a ng-if="measurements.value == 'no'" class="Cstmbutn button-small mb15">Measurements - NA</a>
                            <a ng-if="measurements.value == 'yes'" class="Cstmbutn button-small mb15" ng-click="getMeasureDetails(noteId, 'measurements')"><span class="icon ion-eye"></span> Measurements</a>
                        </div>
                    </div>
                    <div class="innerdiv col-50">
                        <div class="p10">
                            <a ng-if="testResult.value == 'no'" class="Cstmbutn button-small mb15">Test Results - NA</a>
                            <a ng-if="testResult.value == 'yes'" class="Cstmbutn button-small mb15" ng-click="getCnDetails(noteId, 'test result')"><span class="icon ion-eye"></span> Test Results </a>	
                        </div>
                    </div>
                </div>
                <div class="flexcont">
                    <div class="innerdiv col-50 brdright">
                        <div class="p10">
                            <a ng-if="obj.value == 'no'" class="Cstmbutn button-small mb15">Observations - NA</a>
                            <a ng-if="obj.value == 'yes'" class="Cstmbutn button-small mb15" ng-click="getCnDetails(noteId, 'observations')" ><span class="icon ion-eye"></span> Observation</a>
                        </div>
                    </div>
                    <div class="innerdiv col-50">
                        <div class="p10">
                            <a ng-if="diagnosis.value == 'no'" class="Cstmbutn button-small mb15">Diagnosis - NA</a>
                            <a ng-if="diagnosis.value == 'yes'" class="Cstmbutn button-small mb15" ng-click="getCnDetails(noteId, 'diagnosis')"><span class="icon ion-eye"></span> Dignosis </a>	
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>

    </form>
</ion-view>
<script id="filesview.html" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Attached Files</h1>
    <button class="button" ng-click="print()">Print</button>
    </header>
    <content has-header="true" padding="true" class="fullwh">
    <div class="mcontent">
    <!-- <iframe  type="text/html" style="width:100%; position:absolute; height:80%; top:100px;" scrolling="yes" ng-src="{{trustSrc(value)}}" allowfullscreen frameborder="0">       
    </iframe> -->
    <div class="viewattachfile">
    <img src="{{value}}">
    </div>
    </div>
    </content>
    <div class="bar bar-footer" style="z-index:999;"><div class="button button-positive" style="width:100%;" ng-click="modal.hide()">Cancel</div></div>

</script>

<script id="addeval" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Plain Text</h1>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
    <label class="item item-input">
    <textarea type="text" col="" rows="10" placeholder="Enter"></textarea>
    </label>
    <div class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Mark as Summary</ion-checkbox>
    </div>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>
    </ion-modal-view>
</script>
<script id="snomed" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">SNOMED</h1>
    </ion-header-bar>
    <ion-content>
    <!-- <div class="item item-input-inset">
    <label class="item-input-wrapper">
    <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
    Submit
    </button>
    </div>-->
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
    </label>
    </div>
    <div class="list">
    <ion-list>
    <ion-checkbox ng-model="filter.snomed1">Snomed1</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed2">Snomed2</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed3">Snomed3</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed4">Snomed4</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed5">Snomed5</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed6">Snomed6</ion-checkbox>
    </ion-list>
    <p class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Make as Summary </ion-checkbox>
    </p>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>
    </ion-modal-view>
</script>

<script id="icd" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">ICD</h1> 

    </ion-header-bar>
    <ion-content>
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
    </label>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>
    </ion-modal-view>
</script>


<script id="notetype" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Select Category</h1>
    </ion-header-bar>
    <ion-content>
    <div class="item item-divider">Background</div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.view-patient-history', noteId)"><span class="icon ion-plus-circled"></span>  Patient</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.family-history')"><span class="icon ion-plus-circled"></span>  Family</div> 
    </div>
    </div>
    <div class="item item-divider">Evaluation</div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.measurement')"><span class="icon ion-plus-circled"></span> Measurements</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.testresult')"> <span class="icon ion-plus-circled"></span> Test Results</div> 
    </div>
    </div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.observation')"> <span class="icon ion-plus-circled"></span> Observations</div> 
    </div>
    </div>
    <div class="item item-divider">Diagnosis</div>  
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="SnowmedtCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> SNOMED</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="IcdCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> ICD</div> 
    </div>
    </div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="PlaintestCtrl" ng-click="modal.show()"> <span class="icon ion-plus-circled"></span> Text</div> 
    </div>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    </div>
    </ion-modal-view>
</script>



<script id="treatmentp" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Select Category</h1>
    </ion-header-bar>
    <ion-content>
    <div class="item item-divider">Treatment Plan</div>  
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.investigations')"><span class="icon ion-plus-circled"></span> Investigation</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.medication')"><span class="icon ion-plus-circled"></span> Medication</div> 
    </div>
    </div>
    <div class="row cbtn3 ">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.procedure')"><span class="icon ion-plus-circled"></span> Procedure</div> </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.dietplan')"> <span class="icon ion-plus-circled"></span> Diet Plan</div> 
    </div>
    </div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.medication')"><span class="icon ion-plus-circled"></span> Lifestyle</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.procedure')"><span class="icon ion-plus-circled"></span> Referral</div> 
    </div>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    </div>
    </ion-modal-view>
</script>