<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Chat</span>
    </ion-nav-title>
    <ion-content>
        <div class="row tabnav">
            <div class="col"><a  ui-sref="app.chatlist"  ui-sref-opts="{reload: true}" >Patients</a></div>            
            <div class="col"><a ui-sref="app.assistantChatList" class="active" ui-sref-opts="{reload: true}">Assistant</a> </div>
<!--            <div class="col"><a  ui-sref="app.peers" ui-sref-opts="{reload: true}">Peers</a></div>-->
        </div>
        <!-- 		<ion-list>
                        <div class="row">
                        <div class="col"><ion-radio ng-model="choice" ng-value="'A'">Active</ion-radio></div>
                        <div class="col"><ion-radio ng-model="choice" ng-value="'B'">Past</ion-radio></div>
                        </div>
                        </ion-list> -->
        <div class="list cdetail-list">
            <div class="chatlist">
                <a class="item item-icon-right" ui-sref="app.assistantChat({'id': cp[0].chat_id})" ng-repeat="cp in chatParticipants" ui-sref-opts="{reload: true}">
                    <img class="user-image-circle" ng-if="participant[$index][0].image != ''" ng-src="{{imgpath}}{{participant[$index][0].image}}"><img class="user-image-circle" ng-if="participant[$index][0].image == ''" ng-src="img/default-user.jpg">
                    <span class="title">{{participant[$index][0].fname}}</span>
                    <div ng-if="msg[$index] != ''" >
                        <p class="description">{{msg[$index].message}}</p>
                        <span class="chat-time">{{msg[$index].tstamp|time}} <br/>
                        <div class="countright" ng-if="unreadCnt[$index]!=0">{{unreadCnt[$index]}}</div>
                        </span>
                        
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>




