<ion-view class="records-view">
    <ion-nav-title>
        <span>Consultation Note</span>
    </ion-nav-title>
    <form name="addRecordForm" id="addRecordForm" enctype="multipart/form-data" novalidate >
        <ion-content>        
            <div class="tabcon2">
                <input type="hidden" ng-model="record.recordUser" value="{{userId}}" name="userId" />
                <input type="hidden" value="{{patientId}}" name="patientId" />
                <input type="hidden" value="{{doctorId}}" name="doctorId" />
                <input type="hidden" value="{{app.id}}" name="appId" />
                <input type="hidden" value="{{recCId}}" name="recId" />
                <input type="hidden" value="{{measurement}}" name="measurement" />
                <input type="hidden" value="{{objId}}" name="objId" />
                <input type="hidden" value="{{diaId}}" name="diaId" />
                <input type="hidden" value="{{testId}}" name="testId" />
                <input type="hidden" value="{{measurement}},{{objId}},{{diaId}},{{testId}}" name="noteRecs" />
                <input type="hidden" value="Consultation" name="rectype" />
                <input type="hidden" ng-model="record.recordCat" value="{{record.id}}" name="recordCat" />
                <div class="fields" ng-repeat="field in fields">                    
                    <div ng-if="field.field == 'Case Id'">
                        <div class="item item-divider ">{{field.field}}</div>
                        <div ng-if="caseId != ''">
                            <ion-list>
                                <div class="row">
                                    <div class="col cradio"><ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'1'"  value="1" ng-change="getCase(casetype)" required>New Case</ion-radio></div>
                                    <div class="col cradio"> <ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'0'" value="0" ng-change="getCase(casetype)" ng-checked="true" required>Ongoing Case</ion-radio></div>
                                </div>
                            </ion-list>
                            <label class="item item-input item-select" id="precase">
                                <div class="input-label">{{field.field}}</div>
                                <select name="pre-{{field.name}}" ng-model="cases">
                                    <option value="" >Select </option>
                                    <option ng-repeat="case in cases" value="{{case.record_id}}" ng-selected="{{case.record_id == caseId}}">{{case.value}}</option>
                                </select>
                            </label>
                            <label class="item item-input hide" id="newcase">
                                <input type="text" placeholder="Case" name="new-{{field.name}}" ng-model="formCase" >
                            </label>
                        </div>
                        <div ng-if="caseId == ''">
                            <ion-list>
                                <div class="row">
                                    <div class="col cradio"><ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'1'"  value="1" ng-change="getCase(casetype)" required>New Case</ion-radio></div>
                                    <div class="col cradio"> <ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'0'" value="0" ng-change="getCase(casetype)" required>Ongoing Case</ion-radio></div>
                                </div>
                            </ion-list>
                            <label class="item item-input item-select hide" id="precase">
                                <div class="input-label">{{field.field}}</div>
                                <select name="pre-{{field.name}}">
                                    <option value="" >Select </option>
                                    <option ng-repeat="case in cases" value="{{case.record_id}}" ng-selected="{{case.record_id == caseId}}">{{case.value}}</option>
                                </select>
                            </label>
                            <label class="item item-input hide" id="newcase">
                                <input type="text" placeholder="Case" name="new-{{field.name}}" ng-model="formCase" >
                            </label>
                        </div>
                    </div>
                    <div ng-if="field.field != 'Case Id'">
                        <div ng-if="field.field_types.value == 'text'">
                            <div ng-if="appId != 0">
                                <div class="hide" ng-if="field.field == 'Patient'">
                                    <div class="item item-divider">Patient</div>
                                    <select class="cselect Ditemselect"  ng-model="patientId" name="{{field.name}}" ng-change="getPatientId(patientId)" disabled="disabled">
                                        <option value=""> Select {{field.field}}</option>
                                        <option ng-repeat="pat in patients" ng-selected="{{pat.id == patientId}}" value="{{pat.id}}">{{pat.fname}} {{pat.lname}}</option>
                                    </select>
                                </div>
                                <div class="hide" ng-if="field.field == 'Consultant'">
                                    <div class="item item-divider">Doctor </div>
                                    <select  class="cselect Ditemselect"  ng-model="doctorId" name="{{field.name}}" ng-change="getDrId(doctorId)" disabled="disabled">
                                        <option ng-repeat="doc in doctrs" ng-selected="{{doc.id == doctorId}}" value="{{doc.id}}">{{doc.fname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="appId == 0">
                                <div class="" ng-if="field.field == 'Patient'">
                                    <div class="item item-divider" ng-click="modal.show()" >Patient 
                                        <div class="selectopt">Select Patient</div>
                                    </div>
                                    <div class="ditem-content" ng-repeat="p in patientName">{{p.name}}</div>
                                    <select class="cselect Ditemselect hide"  ng-model="patientId" name="{{field.name}}" ng-change="getPatientId(patientId)" id="patient">
                                        <option value=""> Select {{field.field}}</option>
                                        <!--<option ng-repeat="pat.id as pat.fname for pat in patients track by pat.id" ng-selected="{{pat.id == patientId}}" value="{{pat.id}}">{{pat.fname}} {{pat.lname}}</option>-->
                                        <option ng-repeat="pat in patients" ng-selected="{{pat.id == patientId}}" selected="{{pat.id == patientId}}" value="{{pat.id}}">{{pat.fname}} {{pat.lname}}</option>
                                    </select>
                                </div>
                                <div class="hide" ng-if="field.field == 'Consultant'">
                                    <div class="item item-divider">Doctor</div>
                                    <select class="cselect Ditemselect " ng-model="doctorId" name="{{field.name}}" ng-change="getDrId(doctorId)" >
                                        <option value=""> Select {{field.field}}</option>
                                        <option ng-repeat="doc in doctrs" ng-selected="{{doc.id == doctorId}}" value="{{doc.id}}">{{doc.fname}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'date'">
                            <div ng-if="appId != 0" class="hide">
                                <div ng-if="field.field == 'Consultation Date'">
                                    <div class="item item-divider ">{{field.field}}</div>
                                    <div class="item item-input">
                                        <input type="text" ng-model="conDate" placeholder="{{field.field}}" value="{{conDate}}"  name="{{field.name}}" required disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="appId == 0">
                                <div ng-if="field.field == 'Consultation Date'">
                                    <div class="item item-divider">{{field.field}}</div>
                                    <label class="item item-input">
                                        <input type="date" ng-model="conDate" placeholder="{{field.field}}" value="{{conDate|dateFormat3}}"  name="{{field.name}}" required />
                                    </label>
                                </div>
                            </div>
                            <div ng-if="field.field == 'Valid till'">
                                <div class="hide" id="convalid">
                                    <div class="item item-divider">{{field.field}} </div>
                                    <input type="date" ng-model="curTime" placeholder="{{field.field}}" value="{{curTime|dateFormat3}}"  name="{{field.name}}" />
                                </div>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'time'">
                            <div ng-if="appId != 0" class="hide">
                                <div class="item item-divider">{{field.field}} </div>
                                <div class="ditem-content"><input type="text" placeholder="{{field.field}}" ng-model="curTimeo" value="{{curTimeo}}" name="{{field.name}}" disabled="disabled" /></div>
                            </div>
                            <div ng-if="appId == 0">
                                <div class="item item-divider">{{field.field}}</div> 
                                <div class="ditem-content"> <input type="time" placeholder="{{field.field}}" ng-model="curTimeo" value="{{curTimeo}}" name="{{field.name}}" /> </div>  
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'select'">
                            <div ng-if="appId != 0">
                                <div class="hide" ng-if="field.field == 'Mode'">
                                    <div class="item item-divider">{{field.field}}</div> 
                                    <select class="cselect Ditemselect" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}" disabled="disabled">
                                        <option value="0"> Select {{field.field}}</option>
                                        <option ng-repeat="sel in selData" value="{{sel}}" ng-selected="{{mode === sel}}"> {{sel}} </option>
                                    </select>
                                </div>
                                <div class="hide" ng-if="field.field == 'Patient Type'">
                                    <div class="item item-divider">{{field.field}}</div> 
                                    <select class="cselect Ditemselect" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}" disabled="disabled">
                                        <option value="0"> Select {{field.field}}</option>
                                        <option ng-repeat="sel in selData" value="{{sel}}" ng-selected="{{pType === sel}}"> {{sel}} </option>
                                    </select>
                                </div>
                            </div>

                            <div ng-if="appId == 0">
                                <div   ng-if="field.field == 'Mode'">
                                    <div class="item item-divider">{{field.field}}</div> 
                                    <select class="cselect Ditemselect" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}">
                                        <option value="0"> Select {{field.field}}</option>
                                        <option ng-repeat="sel in selData" value="{{sel}}" ng-selected="{{mode === sel}}"> {{sel}} </option>
                                    </select>
                                </div>
                                <div   ng-if="field.field == 'Patient Type'">
                                    <div class="item item-divider"> {{field.field}}</div>
                                    <select class="cselect Ditemselect" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}">
                                        <!--<option value="0"> Select {{field.field}}</option>-->
                                        <option ng-repeat="sel in selData" value="{{sel}}" ng-selected="{{pType === sel}}"> {{sel}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="hide" ng-if="field.field == 'Includes Prescription'" id="coninprec">
                                <div class="item item-divider"> {{field.field}}</div>
                                <select class="cselect Ditemselect" ng-model="prescription" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}" ng-change="getPrescription(prescription)">
                                    <option value="0"> Select {{field.field}}</option>
                                    <option ng-repeat="sel in selData" value="{{sel}}" ng-selected="{{sel == prescription}}"> {{sel}} </option>
                                </select>
                            </div>
                            <div class="" ng-if="field.field != 'Includes Prescription' && field.field != 'Patient Type' && field.field != 'Mode'">
                                <div class="item item-divider"> {{field.field}}</div>
                                <select class="cselect Ditemselect" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}">
                                    <option value="0"> Select {{field.field}}</option>
                                    <option ng-repeat="sel in selData" value="{{sel}}"> {{sel}} </option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="field.field_types.value == 'file'">
                            <div class="item item-divider">Images</div>
                            <div class="item item-input item-stacked-label" ng-if="field.multi_value == 0">
                                <span class="input-label dblock" >{{field.field}}</span>
                                <div class="row p0">
                                    <div class="col col-50 pl0"> 
                                        <div class="filelabel">
                                            <input type="file" placeholder="{{field.field}}" name="{{field.name}}" onchange="angular.element(this).scope().setFile(this)" id="presciption" ng-model="prescription" />
                                            <label for="attachfile">File Selector</label>
                                        </div><br/>
                                        <div id="image-holder"></div>
                                    </div>
                                    <div class="col col-50">
                                        <div class="btncamera" ng-click="takePict('{{field.name}}')"><i class="ion-android-camera"></i></div>
                                        <!--                                                <input class="" type="text" ng-model="images" name="cam-{{field.name}}" id="camfile" value="{{images| json}}" />-->
                                        <input class="" type="hidden" name="camm-{{field.name}}" id="camfilee"  />
                                    </div><br/>
                                    <div id="camera-status"></div>
                                </div>
                            </div>
                            <div class="item item-input item-stacked-label" ng-if="field.multi_value == 1">
                                <span class="input-label dblock" >{{field.field}}</span>
                                <div class="row p0">
                                    <div class="col col-50 pl0"> 
                                        <div class="filelabel">
                                            <input type="file" placeholder="{{field.field}}" multiple="" onchange="angular.element(this).scope().setFile(this)" name="{{field.name}}[]" ng-model="prescription"/>
                                            <label for="attachfile">Select Files</label>
                                        </div><br/>
                                        <div id="image-holder"></div>
                                    </div>
                                    <div class="col col-50">
                                        <div class="btncamera" ng-click="takePict('{{field.name}}')" ><!-- <i class="ion-android-camera"></i> -->Camera</div>
                                        <!--                                                <input class="" type="text" ng-model="images" name="cam-{{field.name}}" id="camfile" value="{{images | json}}" />-->
                                        <input class="" type="hidden" name="camm-{{field.name}}" id="camfilee"  />
                                        <br/>
                                        <div id="camera-status"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             

                <div class="flexcont">
                    <div class="innerdiv col-50 brdright">
                        <div class="item item-divider">Notes</div>
                        <div class="p10">
                            <button  class="Cstmbutn button-small mb15"  ng-click="check(patientId, doctorId)"><span class="icon ion-plus-circled"></span> Add</button>
                            <!-- <div class="custombtn" ng-click="gotopage('app.patient-history')">Patient</div>  ng-click="modal.show()"-->
                        </div>
                    </div>
                    <div class="innerdiv col-50">
                        <div class="item item-divider">Treatment Plan</div>
                        <div class="p10">
                            <button class="Cstmbutn button-small mb15" ng-controller="treaTmentpCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> Add </button>	
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <div class="footerbar">
            <button type="submit" ng-click="submit()" class="button button-positive"  style="width:100%" ng-disabled="addRecordForm.$invalid">Submit</button>
        </div>
    </form>
</ion-view>

<script id="addeval" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Plain Text</h1>

    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
    <label class="item item-input">
    <textarea type="text" col="" rows="10" placeholder="Enter"></textarea>
    </label>
    <div class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Mark as Summary</ion-checkbox>
    </div>

    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>
    </ion-modal-view>
</script>

<script id="snomed" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">SNOMED</h1>	 

    </ion-header-bar>
    <ion-content>
    <!-- <div class="item item-input-inset">
    <label class="item-input-wrapper">
    <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
    Submit
    </button>
    </div>-->

    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
    </label>
    </div>
    <div class="list">
    <ion-list>
    <ion-checkbox ng-model="filter.snomed1">Snomed1</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed2">Snomed2</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed3">Snomed3</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed4">Snomed4</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed5">Snomed5</ion-checkbox>
    <ion-checkbox ng-model="filter.snomed6">Snomed6</ion-checkbox>
    </ion-list>

    <p class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Make as Summary </ion-checkbox>
    </p>

    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>

    </ion-modal-view>
</script>

<script id="icd" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">ICD</h1>	 

    </ion-header-bar>
    <ion-content>
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
    </label>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    <div class="button btn-add" ng-click="submitmodal()"><i class="ion-checkmark"></i> Save</div>
    </div>
    </ion-modal-view>
</script>

<script id="notetype" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Select Category</h1>	 

    </ion-header-bar>
    <ion-content>

    <div class="item item-divider">Background</div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.patient-history')"><span class="icon ion-plus-circled"></span>  Patient</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.family-history')"><span class="icon ion-plus-circled"></span>  Family</div> 
    </div>
    </div>

    <div class="item item-divider">Evaluation</div>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.measurement')"><span class="icon ion-plus-circled"></span> Measurements</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.testresult')"> <span class="icon ion-plus-circled"></span> Test Results</div> 
    </div>
    </div>	

    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.observation')"> <span class="icon ion-plus-circled"></span> Observations</div> 
    </div>
    </div>

    <div class="item item-divider">Diagnosis</div>  
    <!----<div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="SnowmedtCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> SNOMED</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="IcdCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> ICD</div> 
    </div>
    </div>--->		 

    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.diagnosis')"> <span class="icon ion-plus-circled"></span> Text</div> 
    </div>
    </div>
    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="submitmodal()" ><i class="icon ion-ios-arrow-back"></i> Back</div>

    </div>
    </ion-modal-view>
</script>

<script id="treatmentp" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Select Category</h1>
    </ion-header-bar>
    <ion-content>
    <div class="item item-divider">Treatment Plan</div>  
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.investigations')"><span class="icon ion-plus-circled"></span> Investigation</div> 
    </div>
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.medication')"><span class="icon ion-plus-circled"></span> Medication</div> 
    </div>
    </div>

    <div class="row cbtn3 ">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.procedure')"><span class="icon ion-plus-circled"></span> Procedure</div> </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.dietplan')"> <span class="icon ion-plus-circled"></span> Diet Plan</div> 
    </div>
    </div>



    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.lifestyle')"><span class="icon ion-plus-circled"></span> Lifestyle</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.referral')"><span class="icon ion-plus-circled"></span> Referral</div> 
    </div>
    </div>


    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    </div>
    </ion-modal-view>
</script>

<script id="selectpatient" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Select Patient</h1>
    </ion-header-bar>
    <ion-content>
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search">
    </label>
    </div>

    <div class="list mb0" ng-repeat="(header,data) in users | orderBy: ['data.fname', 'data.lname']" ng-if="users.length != 0">
    <div class="item item-divider">{{header}}</div>
    <a class="item" ng-repeat="users in data| filter:search" ng-click="selPatient({{users.id}}, '{{users.fname}} {{users.lname}}')" >
    <h2>{{users.fname}} {{users.lname}}</h2>
    <p> +91 {{users.phone}}</p> <!--{{users.email}}, &nbsp;  -->
    </a>
    </div>
    <div class="list mb0" ng-if="users.length == 0">
    <p>No patients</p>
    </div>


    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> Cancel</div>
    </div>
    </ion-modal-view>
</script>