<ion-view class="settings-view">
    <!--   <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons> -->
    <ion-nav-title>
        <span>Settings</span>
    </ion-nav-title>
    <ion-content>
        <div ng-if='docSettings.length == 0'> No seetings</div>
        <div ng-if='docSettings.length > 0'>

            <ul class="list" ng-repeat="(key, value) in docSettings">


                <div ng-repeat="(k, val) in value">



                    <div  ng-if="k == 'Status'">

                        <div class="item item-divider mt15">Status</div>
                        <ion-list>
                            <ion-radio ng-model="status" ng-checked="instant_status.presence == status" ng-disabled="val.edit == '0'" class="radioptions" ng-click="doctor_presence(status)" ng-value="'0'">Offline</ion-radio>
                            <ion-radio ng-model="status" ng-checked="instant_status.presence == status"  ng-disabled="val.edit == '0'" class="radioptions" ng-click="doctor_presence(status)" ng-value="'2'">Busy</ion-radio>
                            <ion-radio ng-model="status" ng-checked="instant_status.presence == status" ng-disabled="val.edit == '0'"  class="radioptions" ng-click="doctor_presence(status)"ng-value="'1'">Online</ion-radio>
                        </ion-list>

                    </div>
                    
                    <div ng-if="k == 'Instant Video'">
                        <div class="item item-divider" >Instant Video </div>
                        <div ng-repeat="videoval in val">
                            <div class="item item-divider" ng-if="videoval.control == 'Details Instant Video'"  ng-click="doc_services_setting(videoval.edit, 'Instant Video')" style="background-color: #fff" >
                                Instant Video Details   </div>
                            <ion-toggle ng-disabled="videoval.edit == '0'" ng-model="instant_permission.instant_permission" ng-disabled="videoval.edit == 0"  ng-if="videoval.control == 'Enable Instant Video'" ng-checked="instant_permission.instant_permission == '1'" ng-click="checkinstantpermission(instant_permission.instant_permission)" name="permission" ng-value="{{instant_permission.instant_permission}}"  toggle-class="toggle-positive"> Enable </ion-toggle>
                        </div>
                    </div>
                    
                    <div ng-if="k == 'Video'">


                        <div ng-repeat="dServ in docServices"> 

                            <div ng-if="dServ.service.service == 'Video'"> 
                                <div ng-repeat="videoval in val">
                                    <div class="item item-divider" ng-if="videoval.control == 'Details Video'"  ng-click="doc_services_setting(videoval.edit, 'Video')" style="background-color: #fff">
                                        Video Details</div>
                                    <div class="item item-divider"  ng-if="videoval.control != 'Details Video'" style="background-color: #fff">
                                        Video </div>
                                    <ion-toggle ng-model="video" ng-if="videoval.control == 'Enable Video'" ng-disabled="videoval.edit == 0" ng-checked="video == 1" ng-click="checkService(video, userId, '1')" name="{{serv.service.service}}"  toggle-class="toggle-positive">Enable</ion-toggle>
                                </div>
                            </div>

                        </div>
                        <div  ng-if="serviceArray.indexOf(k) == -1" > 
                            <ul class="list">
                                <li><a>Service unavailable for you</a></li>                                

                            </ul>
                        </div>
                    </div>
                    <div ng-if="k == 'Chat'">

                        <div ng-repeat="dServ in docServices" > 
                            <div ng-if="dServ.service.service == k">
                                <div ng-repeat="videoval in val">
                                    <div class="item item-divider" ng-if="videoval.control == 'Details Chat'"  ng-click="doc_services_setting(videoval.edit, 'Chat')" style="background-color: #fff">
                                        Chat Details </div>
                                    <div class="item item-divider"  ng-if="videoval.control != 'Details Chat'" style="background-color: #fff" >
                                        Chat  </div>
                                    <ion-toggle ng-model="chat" ng-checked="chat == 1" ng-disabled="videoval.edit == 0" ng-if="videoval.control == 'Enable Chat'" name="{{serv.service.service}}" ng-click="checkService(chat, userId, '2')" toggle-class="toggle-positive">Enable </ion-toggle>
                                </div>
                            </div>

                        </div>
                        <div  ng-if="serviceArray.indexOf(k) == -1" > 
                            <ul class="list">
                                <li><a>Service unavailable for you</a></li>                                

                            </ul>
                        </div>

                    </div>
                    <div ng-if="k == 'Clinic'">
                       

                        <div ng-repeat="dServ in docServices" ng-if="dServ.service.service == k" >
                            <div ng-if="dServ.service.service == k" >
                                <div ng-repeat="videoval in val">
                                    <div class="item item-divider" ng-if="videoval.control == 'Details Clinic'"  ng-click="doc_services_setting(videoval.edit, 'Clinic')" style="background-color: #fff" >
                                       Clinic Details </div>
                                    <div class="item item-divider"  ng-if="videoval.control != 'Details Clinic'" style="background-color: #fff" >
                                       Clinic  </div>
                                    <ion-toggle ng-model="clinic" ng-checked="clinic == 1" ng-disabled="videoval.edit == 0" ng-if="videoval.control == 'Enable Clinic'" name="{{serv.service.service}}" ng-click="checkService(clinic, userId, '3')" toggle-class="toggle-positive"> Enable </ion-toggle>
                                </div>
                            </div>

                        </div>
                        <div  ng-if="serviceArray.indexOf(k) == -1" > 
                            <ul class="list">
                                <li><a>Service unavailable for you</a></li>                                

                            </ul>
                        </div>


                    </div>
                    <div ng-if="k == 'Home'">
                        
                        <div ng-repeat="dServ in docServices"> 

                            <div ng-if="dServ.service.service == k" >
                                <div ng-repeat="videoval in val">
                                    <div class="item item-divider" ng-if="videoval.control == 'Details Home'"  ng-click="doc_services_setting(videoval.edit, 'Home')" style="background-color: #fff" >
                                      Home Details  </div>
                                    <div class="item item-divider"  ng-if="videoval.control != 'Details Home'" style="background-color: #fff" >
                                       Home    </div>
                                    <ion-toggle ng-model="home" ng-checked="home == 1" ng-disabled="videoval.edit == 0" ng-if="videoval.control == 'Enable Home'" name="{{serv.service.service}}" ng-click="checkService(home, userId, '4')" toggle-class="toggle-positive"> Enable </ion-toggle>
                                </div>
                            </div>

                        </div>
                        <div  ng-if="serviceArray.indexOf(k) == -1" > 
                            <ul class="list">
                                <li><a>Service unavailable for you</a></li>                                

                            </ul>
                        </div>

                    </div>

                    <div ng-if="k == 'Notifications'">

                        <div class="item item-divider mt15">Notifications</div>
                        <div ng-repeat="videoval in val">
                            <ion-toggle ng-model="notification" ng-disabled="videoval.edit == '0'" ng-checked="notification.user_id == userId"  ng-click="pushNotification(notification)" name="notification"  toggle-class="toggle-positive"> Allow Notification </ion-toggle>

                        </div>
                    </div>

                </div>
            </ul>
        </div>


    </ion-content>
</ion-view>
