<ion-view class="rjoin-view" >
    <ion-nav-title>
        <span> {{user.fname}} {{user.lname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="exitVideo()"> Exit</button>
    </ion-nav-buttons>
    <div class="bar bar-subheader cbar" >
        <div class="row">
            <div class="col txt-left"><h5> {{appDetails[0].appointments.scheduled_start_time|time1}}</h5></div>
            <div class="col txt-right"><h5> {{result}}</h5></div>
            <!--  <div class="addnebtn btn-share ion-medkit" ng-click="inventory();"></div> -->
            <!--<div class="addnebtn btn-add ion-plus" ng-click="addnote();"></div>-->
        </div>
    </div>
    <ion-content>
        <div class="mediascreen mdhight">
            <!--<iframe class="videochat" ng-src="{{trustSrc(oToken)}}" ></iframe>-->
            <div id='myPublisherDiv' style="position:absolute;right: 10px;bottom:10px"></div> 
            <div id='subscribersDiv' class="subscribediv">Waiting for patient to join!</div> 
        </div>

        <div class="crighttab greentab" id="cstab1">
            <div class="ctabbtn" ng-click="pulltab('cstab1')">
                <span class="ion-plus"></span>
            </div>
            <div class="sidetabcontent">
                <ion-scroll direction="y" class="theroot"> 
                    <div class="row">
                        <div class="maintab">
                            <select class="cselectn" ng-model="mntab"  ng-change="changejoincate(mntab)">
                                <option value="ntcase" selected>Case</option>
                                <option value="ntbackground" >Background</option>
                                <option value="ntnote" >Notes</option>
                                <option value="nttreatment" >Treatment</option>
                            </select>
                            <div class="col txt-right">
                                <button class="button button-positive brd0" ng-click="submit()">Save All</button>
                            </div>
                        </div>
                    </div>
                    <div class="sldebxcontent" ng-show="notetcase">
                        <div ng-include src="'views/app/video-note/note-case.html'" ></div>
                    </div>
                    <div class="sldebxcontent" ng-show="notebackground">
                        <div ng-include src="'views/app/video-note/note-background.html'" ></div>                        
                    </div>
                    <div class="sldebxcontent" ng-show="notetnote">
                        <div ng-include src="'views/app/video-note/notes.html'" ></div>                        	
                    </div>	
                    <div class="sldebxcontent" ng-show="notetreatment">
                        <div ng-include src="'views/app/video-note/treatment-plan.html'" ></div>                        
                    </div>
                </ion-scroll>
            </div>
        </div>

        <div class="crighttab greentab" id="cstab2" >
            <div class="ctabbtn" ng-click="pulltab('cstab2')" style="top:45px;">
                <span class="ion-eye"></span>
            </div> 
            <div class="sidetabcontent">
                <ion-scroll direction="y" class="theroot"> 
                    <div class="maintab row">
                        <select class="cselectn" ng-model="ptab" ng-change="changemaincate(ptab)">
                            <option value="pbackground" selected>Background</option>
                            <option value="precords" >Records</option>
                            <option value="pconsults" >Consults</option>
                           
                        </select>
                    </div>
                    <div class="clr"></div><div class="clr"></div>
                    <div class="sldebxcontent" ng-show="pnotebackground">
                        <div ng-include src="'views/app/preview/note-background.html'" ></div>                        
                    </div>
                    <div class="sldebxcontent" ng-show="precordsView">
                        <div ng-include src="'views/app/preview/records-view.html'" ></div>                        
                    </div>
                    <div class="sldebxcontent" ng-show="pconsultsView">
                        <div ng-include src="'views/app/preview/consults-view.html'" ></div>                        
                    </div>
                    <!--<div class="sldebxcontent" ng-show="pchatsView">
                        <div ng-include src="'views/app/preview/chats-view.html'" ></div>                        
                    </div>-->
                </ion-scroll>
            </div>
            <div class="clr"></div>
        </div>
    </ion-content>
    <div class="sticyfooter joinfooter">
        <div class="tabs tabs-icon-top">
            <div class="tab-item muteMic"  onclick="classtoggle(this)">
                <i class="icon ion-ios-mic"></i>
                <i class="icon ion-ios-mic-off"></i>
                Mic
            </div>
            <div class="tab-item muteVideo"   onclick="classtoggle(this)">
                <i class="icon ion-ios-videocam"></i>
                Video
            </div>
           
        </div>
    </div>
</ion-view>

<div class="slideupdiv" id="inventory-slide">
    <div class="button iframeclose" ng-click="removenoteslide()"> X </div>
    <button class="button iframesubmit" ng-click="submit()" ng-disabled="addRecordForm.$invalid"> <i class="ion-checkmark"></i>  Save </button>
    <div class="ctitlebar">Inventory</div>
    <div class="slideupcontent">

        <div class="" ng-show="invsearcha">
            <ion-list>
                <div class="row">
                    <div class="col"> <ion-radio ng-model="choice"  ng-click="searchBy(choice)" ng-value="0">By Medicine</ion-radio></div>
                    <div class="col">  <ion-radio ng-model="choice"  ng-click="searchBy(choice)" ng-value="1">By Location</ion-radio></div>
                </div>
            </ion-list>
            <div class="hide"  id="textlocation">
                <label class="item item-input"  >
                    <input type="text" placeholder="Medicine"  ng-model="medicinename">
                </label>
                <div class="txt-center">
                    <!--  <button  ng-click="searchByMedicine(medicinename)"  class="button button-positive mt15">Search</button> -->
                    <button  ng-click="golink('#/inventory-search/' + medicinename)"  class="button button-positive mt15">Search</button>
                </div>
            </div>
            <div class="hide" id="selectlocation">
                <label class="item item-input item-select" >
                    <select class="cselect Ditemselect" name="location" ng-model="healthcenterloc">
                        <option value="">Select Health Centre</option>
                        <option ng-repeat="hc in healthCenter"  value="{{hc.id}}" >{{hc.district}}</option>


                    </select>
                </label>
                <div class="txt-center">
                    <button  ng-click="golink('#/inventory-location/' + healthcenterloc)"  class="button button-positive mt15">Search</button> 
                    <!--ui-sref="app.search-location"-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custpopup-container" id="selectnote">
    <div class="custpopup">
        <div class="ncbtn" onclick="close_popup('selectnote')"><i class="ion-close"></i></div>
        <h3 class="heading3">Background</h3>
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dpatient')"><span class="icon ion-plus-circled"></span> Patient</div> 
            </div>
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dfamily-history')"><span class="icon ion-plus-circled"></span>  Family</div> 
            </div>
        </div>
        <h3 class="heading3">Evaluation</h3>
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dmeasurement/mid')"><span class="icon ion-plus-circled"></span> Measurements</div> 
            </div>
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dtestresult')"> <span class="icon ion-plus-circled"></span> Test Results</div> 
            </div>
        </div>  
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dobservation/objid')"> <span class="icon ion-plus-circled"></span> Observations</div> 
            </div>
        </div>
        <h3 class="heading3">Diagnosis</h3>
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small"  ng-click="golink('#/dsnomed')"><span class="icon ion-plus-circled"></span> SNOMED</div> 
            </div>

            <div class="col">
                <div class="Cstmbutn button-small"  ng-click="golink('#/dicd')"><span class="icon ion-plus-circled"></span> ICD</div> 
            </div>
        </div>       
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dtext/diaid')"> <span class="icon ion-plus-circled"></span> Text</div> 
            </div>
        </div>
    </div>
</div>

<div class="custpopup-container" id="selectappointment">
    <div class="custpopup">
        <div class="ncbtn" onclick="close_popup('selectappointment')"><i class="ion-close"></i></div>
        <h3 class="heading3">Treatment Plan</h3>  
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dinvestigations')"><span class="icon ion-plus-circled"></span> Investigation</div> 
            </div>
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dmedication')"><span class="icon ion-plus-circled"></span> Medication</div> 
            </div>
        </div>
        <div class="row cbtn3 ">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dprocedure')"><span class="icon ion-plus-circled"></span> Procedure</div> </div>

            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/ddietplan')"> <span class="icon ion-plus-circled"></span> Diet Plan</div> 
            </div>
        </div>
        <div class="row cbtn3">
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dlifestyle')"><span class="icon ion-plus-circled"></span> Lifestyle</div> 
            </div>
            <div class="col">
                <div class="Cstmbutn button-small" ng-click="golink('#/dreferral')"><span class="icon ion-plus-circled"></span> Referral</div> 
            </div>
        </div>
    </div>
</div>
<script id="filesview.html" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Attached Files</h1>
    <button class="button" ng-click="print()">Print</button>
    </header>
    <content has-header="true" padding="true" class="fullwh">
    <div class="mcontent">
    <div class="viewattachfile" ng-repeat="attach in cnAttachments">
    <img src="{{attachpath}}{{attach.attachment_path}}{{attach.orginial_name}}" style="border-bottom: 1px #eee solid; margin-bottom: 5px; padding: 5px 5px;"/>
    </div>
    </div>
    </content>
    <div class="bar bar-footer" style="z-index:999;"><div class="button button-positive" style="width:100%;" ng-click="modal.hide()">Cancel</div></div>
</script>
<script id="singlefileview" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Attached Files</h1>
    <button class="button" ng-click="print()">Print</button>
    </header>
    <content has-header="true" padding="true" class="fullwh">
    <div class="mcontent">
    <!-- <iframe  type="text/html" style="width:100%; position:absolute; height:80%; top:100px;" scrolling="yes" ng-src="{{trustSrc(value)}}" allowfullscreen frameborder="0">       
    </iframe> -->
    <div class="viewattachfile">
    <img src="{{attachValue}}">
    </div>
    </div>
    </content>
    <div class="bar bar-footer" style="z-index:999;"><div class="button button-positive" style="width:100%;" ng-click="filemodal.hide()">Cancel</div></div>
</script>