<ion-view class="rjoin-view">
    <ion-nav-title>
        <span> {{user[0].fname}} {{user[0].lname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-call"> Leave</button>
    </ion-nav-buttons>

    <div class="bar bar-subheader cbar">
        <div class="row">
            <div class="col-80 txt-centre"><h5><a  ui-sref="#">Chat</a></h5></div>
        </div>
    </div>
    <ion-content>
        <div class="fltr-mesg"> &nbsp;</div>
        <div class="viewchats">
            <!--<iframe class="videochat" ng-src="{{trustSrc(oToken)}}" ></iframe>-->
            <div id='subscribersDiv' class="chatsection" style="position:absolute;top: 0;">
                <ul  class="chat-bubble">
			<!--	<li>
					
				<div class="item item-avatar b-none me" href="#">
				<img ng-src="img/max.png" src="img/max.png">
					
					<div class="text-xs">
					<span class="font-bold m-r-sm ng-binding">Max</span>
					</div>
					<div class="bubble">
					  <i class="icon-tail"></i>
					  <span class="content">
						Hey buddy, I'm already there
					  </span>
					</div>
				  </div>	
			</li>-->
				
				
				
                    <li ng-repeat="msg in msgs |orderBy:'created_at':reverse">
					
					
					<div class="item item-avatar b-none me" href="#">
					
					<div class="usricon"></div>
					<div class="text-xs">
					<span class="font-bold m-r-sm ng-binding">{{ msg.from_id==user[0].id? user[0].fname: 'Me'}} </span>
					</div>
					<div class="bubble">
					  <i class="icon-tail"></i>
					  <span class="content">
						{{msg.msg}}
					  </span>
					</div>
				  </div>
					
                        
                 
						
						</li>

                </ul>
            </div> 
            <div id='chatbox' class="chatbox"><input type='text' class="chatfield" name='msg' /><button ng-click="send()" class="chatbtn">Send</button></div>
        </div>
        <div class="ctab commontab mt0">
            <ion-tabs class="tabs-positive tabs-icon-top">
                <ion-tab title="Records" >
                    <div class="tabcontainer">
                        <p class="txt-centre">2 Records Shared by you</p>
                        <p class="txt-centre">3 Records Created by Doctor</p>

                        <p class="txt-centre">
                            <button class="button button-positive" style="margin-right:10px;"><i class="ion-ios-compose fw"></i> View</button>	
                            <button class="button button-positive"><i class="ion-android-add fw"></i> Create</button>	
                        </p>
                    </div>
                </ion-tab>
                <ion-tab title="Appointments">
                    <div class="tabcontainer">
                        <p>Under Construction</p>
                    </div>
                </ion-tab>
            </ion-tabs>
        </div>  
    </ion-content>
    <div class="sticyfooter">
        <div class="more-nav">
            <ul>
                <li><a href="#">Record</a></li>	
                <li><a href="#">Share Screen</a></li>	
            </ul>
        </div>
    </div>
</ion-view>