<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Chats</span>
    </ion-nav-title>
    <ion-content>
         <div class="row tabnav">
            <div class="col"><a  ui-sref="app.chatlist"   >Active</a></div>            
            <div class="col"><a ui-sref="app.past-chatlist"  class="active" >Closed</a> </div>
          
        </div>
       <!-- <div class="row tabnav">
            <div class="col"><a  ui-sref="app.chatlist" class="active" ui-sref-opts="{reload: true}" >Patients</a></div>            
            <div class="col"><a ui-sref="app.assistantChatList" ui-sref-opts="{reload: true}">Assistant</a> </div>
          
        </div>-->

        <!-- <ion-list>
            <div class="row">
                <div class="col"><ion-checkbox ng-click="includeChat('Active')" >Active</ion-checkbox></div>
                <div class="col"><ion-checkbox ng-click="includeChat('Past')" >Past</ion-checkbox></div>
            </div>
        </ion-list>	-->

        <!--        <div class="row tabnav mytabs" style="margin-top:15px; border-top:0;">
                    <div class="col mytab"><a  ui-sref="app.chatlist" class="active" ui-sref-opts="{reload: true}" >Active</a></div>
                    <div class="col mytab"><a  ui-sref="app.past-chatlist" ui-sref-opts="{reload: true}">Past  </a></div>
                </div>-->
        <div class="list cdetail-list" >
            <div class="chatlist pchat" ng-repeat="cp in chatParticipants">
                <a class="item item-icon-right" ui-sref="app.past-chat({'id': cp[0].chat_id})" ui-sref-opts="{reload: true}">
                    <img class="user-image-circle" ng-if="participant[$index][0].image != ''" ng-src="{{imgpath}}{{participant[$index][0].image}}"><img class="user-image-circle" ng-if="participant[$index][0].image == ''" ng-src="img/default-user.jpg">
                    <span class="title">{{participant[$index][0].fname}}</span>
                    <div ng-if="msg[$index] != ''" >
                        <p class="description">{{msg[$index].message}}</p>
                        <span class="chat-time" ng-if="curDate == (msg[$index].tstamp| dateFormat2 )">{{msg[$index].tstamp| time1}} <br/>
                            <div class="countright" ng-if="unreadCnt[$index] != '0'">{{unreadCnt[$index]}}</div>
                        </span>
                        <span class="chat-time" ng-if="curDate != (msg[$index].tstamp| dateFormat2 )">{{msg[$index].tstamp| dateFormat3}} <br/>
                            <div class="countright" ng-if="unreadCnt[$index] != '0'">{{unreadCnt[$index]}}</div>
                        </span>
                    </div>
                </a>
            </div>
            <div class="chatlist" ng-if="chatParticipants == ''">
                <div style="align-content: center; font-weight: bold;">
                    <p class="description">
                    No chats found
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>




