<ion-view class="patient-view">
    <ion-nav-title>
        <span>{{patientDetails.fname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-click="showPadd()" class="button button-icon button-clear icon ion-plus"> Add</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list mb0" >
            <div class="posts-list">
                <div  class="list card post-item mb15">
                    <div class="post-content item item-text-wrap p0">
                        <div  class="card-content paraspacing">
                            <div class="cardheading txtcenter">{{patientDetails.fname}}  
                                <!--                                <button style="float:right;"><i class="icon ion-android-create"></i></button>-->
                            </div>
                            <div class="row">
                                <div class="col txt-left">{{patientDetails.email===null ? 'NA': patientDetails.email}}</div>		
                                <div class="col txt-right">{{patientDetails.phone===null? 'NA': patientDetails.phone}}</div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maintab row">
            <select class="cselectn" ng-model="ptab" ng-change="changemaincate(ptab)">
                <option value="pbackground" selected>Background</option>
                <option value="precords" >Records</option>
                <option value="pconsults" >Consults</option>
<!--                <option value="pchats" >Chats</option>-->
            </select>
        </div>
        <div class="clr"></div><div class="clr"></div>
        <div class="sldebxcontent" ng-show="pnotebackground">
            <div ng-include src="'views/app/patients/note-background.html'" ></div>                        
        </div>
        <div class="sldebxcontent" ng-show="precordsView">
            <div ng-include src="'views/app/patients/records-view.html'" ></div>                        
        </div>
        <div class="sldebxcontent" ng-show="pconsultsView">
            <div ng-include src="'views/app/patients/consults-view.html'" ></div>                        
        </div>
<!--        <div class="sldebxcontent" ng-show="pchatsView">
            <div ng-include src="'views/app/patients/chats-view.html'" ></div>                        
        </div>-->

    </ion-content>
    <!--    <div class="footerbar">
            <div  class="button bar btn-add" ng-controller="PatientAddCtrl" ng-click="modal.show()" ><i class="icon ion-plus-circled"></i> Add</div>
              <a  ui-sref="app.patient-record" class="button">Records</a>
             <a ui-sref="app.patient-consult" class="button">Consult </a>
             <a ui-sref="app.patient-chat" class="button"> Chat</a> 
        </div>-->
</ion-view>




<script id="patientadd" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Actions</h1>	 
    </ion-header-bar>
    <ion-content>
    <div class="list"></div>
    <div ng-click="go('app.doctr-services')" class="item item-divider">Book Appointment</div>
    <div class="list"></div>
    
    <div ng-click="go('app.cnote')" class="item item-divider">Create Note</div>
    <div class="list"></div>
    <div ng-controller="AdsCtrl"  ng-click="getCategory()" class="item item-divider">Add Records</div>

<!---    <div class="list">
    <div class="item item-divider">Add Record</div>
    <a class="item" ui-sref="#"><h2 class="ctitle">Allergy</h2></a>
    <a class="item" ui-sref="#"><h2 class="ctitle">Bill</h2></a>
    </div>	--->					

    </ion-content>
    <div class="fixedbar">
    <div class="button btn-delete"  ng-click="submitmodal()" ><i class="ion-close"></i> Cancel</div>

    </div>
    </ion-modal-view>
</script>
<script id="filesview.html" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Attached Files</h1>
    <button class="button" ng-click="print(attachValue)">Print</button>
    </header>
    <content has-header="true" padding="true" class="fullwh">
    <div class="mcontent mt50">

    <div class="viewattachfile" ng-repeat="attach in cnAttachments">
    <img src="{{attachpath}}{{attach.attachment_path}}{{attach.orginial_name}}" style="border-bottom: 1px #eee solid; margin-bottom: 5px; padding: 5px 5px;"/>
    </div>

    </div>
    </content>

    <div class="bar bar-footer" style="z-index:999;">
    <div class="button button-positive" style="width:100%;" ng-click="modal.hide()">Cancel</div>
    </div>

</script>
<script id="singlefileview" type="text/ng-template">
    <div class="modal">
    <header class="bar bar-header bar-positive">
    <h1 class="title">Attached Files</h1>
    <button class="button" ng-click="print(attachValue)">Print</button>
    </header>
    <content has-header="true" padding="true" class="fullwh">
    <div class="mcontent">
    <!-- <iframe  type="text/html" style="width:100%; position:absolute; height:80%; top:100px;" scrolling="yes" ng-src="{{trustSrc(value)}}" allowfullscreen frameborder="0">       
    </iframe> -->
    <div class="viewattachfile">
    <img src="{{attachValue}}">
    </div>
    </div>
    </content>
    <div class="bar bar-footer" style="z-index:999;"><div class="button button-positive" style="width:100%;" ng-click="filemodal.hide()">Cancel</div></div>
</script>
<script id="mealdetails" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Meal Details - Day {{Mealday}}</h1>
    <button class="button button-clear pull-left" ng-click="dietmodal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <div ng-if="dietPlanDetails.length==0"><p class="text-center">No data added</p></div>
    <div ng-repeat="diet in dietPlanDetails" > <!--- ng-if="diet[1].value!='' -->
    <div class="item item-divider mt15">Meal {{$index+1}}</div>
    <div ng-repeat="meal in diet">   
    <label class="item item-input" ng-if="meal.fields.name=='meal-1' || meal.fields.name=='value'">
    <div ng-if="meal.fields.field=='Time'">
    <div ng-if="meal.value == ''"> NA </div>
    <div ng-if="meal.value == '00:00:00'"> NA </div>
    <div ng-if="meal.value != '00:00:00' && meal.value != ''">{{meal.value|time1}}</div>
    </div>
    <div ng-if="meal.fields.field!='Time'">{{meal.value==''? 'NA':meal.value}}</div>    
    </label>
    </div>
    </div>  
    </ion-content>
    </ion-modal-view>
</script>
<script id="addrecord.html" type="text/ng-template">
        <div class="modal">
        <header class="bar bar-header bar-positive">
        <h1 class="title">Select Category </h1>
        </header>
        <content has-header="true" padding="true" class="fullwh" style="position: absolute; height: 100%;
        width: 100%;
        overflow: auto;">
        <div class="mcontent mt60">
        <div class="list" >
        <div class="item f17bold" ng-repeat="cat in cats"  ng-click="addRecord({{cat.id}})"  >{{cat.category}}</div>
        </div>
        </div>
        </content>
        </div>
        <div class="bar bar-footer p0" style="z-index:999;">
        <div class="button bar btn-delete brdradious0" style="width:100%;" ng-click="modal.hide()">
        <!-- <span class="icon ion-close"></span> --> Cancel</div>
        </div>
    </script>