<ion-view class="patient-view">
    <ion-nav-title>
        <span>Bhavana Records</span>
    </ion-nav-title>

    <ion-content>
			
			
	  <div class="ctab">		
	 <ion-tabs class="tabs-positive tabs-icon-top">  

		<ion-tab title="Created by you">
		 <div class="tabcon2"> 
			<div class="list" >
				<a class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap">
							<div class="row pr-b10">
								<div class="col" >
									<p><strong>Name</strong><br/>Abcd</p>
								</div>	
								<div class="col" >
									<p><strong>Type</strong><br/>
										Envirnment</p>
								</div>	
								<div class="col" >
									<p><strong>Reaction</strong><br/>
										Lorem text</p>
								</div>	
							</div>
							<div class="post-actions row post-footer">
								<span>Created 20 Jan, 2016- 04:29 AM  by You</span>
							</div>

						</div>
					</div>
				</a>
				
					<a class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap">
							<div class="row pr-b10">
								<div class="col" >
									<p><strong>Name</strong><br/>Abcd</p>
								</div>	
								<div class="col" >
									<p><strong>Type</strong><br/>
										Envirnment</p>
								</div>	
								<div class="col" >
									<p><strong>Reaction</strong><br/>
										Lorem text</p>
								</div>	
							</div>
							<div class="post-actions row post-footer">
								<span>Created 20 Jan, 2016- 04:29 AM  by You</span>
							</div>

						</div>
					</div>
				</a>
				
				
					<a class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap">
							<div class="row pr-b10">
								<div class="col" >
									<p><strong>Name</strong><br/>Abcd</p>
								</div>	
								<div class="col" >
									<p><strong>Type</strong><br/>
										Envirnment</p>
								</div>	
								<div class="col" >
									<p><strong>Reaction</strong><br/>
										Lorem text</p>
								</div>	
							</div>
							<div class="post-actions row post-footer">
								<span>Created 20 Jan, 2016- 04:29 AM  by You</span>
							</div>

						</div>
					</div>
				</a>
				
			</div> 
			
			
			
			
			
			 
		</div>
		
	  </ion-tab>

	  <ion-tab title="Shared with you" >
	 <div class="tabcon2"> 
			<div class="list" >
				<a class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap">
							<div class="row pr-b10">
								<div class="col" >
									<p><strong>Name</strong><br/>Abcd</p>
								</div>	
								<div class="col" >
									<p><strong>Type</strong><br/>
										Envirnment</p>
								</div>	
								<div class="col" >
									<p><strong>Reaction</strong><br/>
										Lorem text</p>
								</div>	
							</div>
							<div class="post-actions row post-footer">
								<span>Shared with You</span>
							</div>

						</div>
					</div>
				</a>
				</div> 
			
		</div>
		
		
	</ion-tab>



	</ion-tabs>		
	  </div>	
			
						
	 </ion-content>
	 
   <div class="footerbar">
        <a class="button" style="width:50%">Share</a>
        <a class="button"  style="width:50%"><i class="ion-plus-circled"></i> Add</a>
    </div>
	 
</ion-view>

