<ion-view class="records-view">
    <ion-nav-title>
        <span>Patient List</span>
    </ion-nav-title>
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Patient" ng-model="search">
            </label>
        </div>
        <div class="list mb0" ng-repeat="(header,data) in users | orderBy: ['data.fname', 'data.lname']" ng-if="users.length != 0">
            <div class="item item-divider">{{header}}</div>
            <a class="item" ng-repeat="users in data| filter:search" ui-sref="app.patient({id:{{users.id}}})" ui-sref-opts="{reload: true}">
                <h2>{{users.fname}} {{users.lname}}</h2>
                <p> +91 {{users.phone}}</p>
            </a>
        </div>
<!-- {{users.email}}, &nbsp;   -->

        <div class="list mb0" ng-if="users.length == 0">
            <p>No patients</p>
        </div>

    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title" ng-click="modal.show()"><i class="ion-plus-circled fwhite"></i> Add </div>
		
    </div>
</ion-view>

<script id="addp" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Add Patient</h1>
    <button class="button button-clear" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> </button>
    </ion-header-bar>
    <form id="addPatientForm" name="addpatient" novalidate>
    <ion-content>
    
    <div class="item item-divider">Name*</div>
    <label class="item item-input listreq">
    <input type="text" placeholder="Name" ng-model="name" name="name" required ng-minlength="3" />
    <div ng-show="addpatient.name.$error.minlength" class="serror">Name is too short.</div>
    <!-- <div ng-show="addpatient.name.$error.required" class="serror">Name is required.</div> -->
    </label>
    <input type="hidden" name="userId" value="{{userId}}" ng-model="userId" />
    <input type="hidden" name="doctrid" value="{{userId}}" />
    <div class="item item-divider">Aadhaar Id *</div>
    <label class="item item-input listreq">
    <input type="number" name="adhar" placeholder="Aadhaar Id" ng-model="adhar" required ng-minlength="12" ng-maxlength="12" />
<!--     <div ng-show="addpatient.adhar.$error.required" class="serror">Aadhaar Id is required.</div> -->
    <div ng-show="addpatient.adhar.$error.minlength" class="serror">Aadhaar Id is too short.</div>
    <div ng-show="addpatient.adhar.$error.maxlength" class="serror">Aadhaar Id is too long.</div>
    </label>

    <div class="item item-divider">Mobile *</div>  
    <label class="item item-input listreq">
    <input type="tel" placeholder="Phone" name="phone" ng-model="phone" required ng-minlength="10" ng-maxlength="10" />
    <!--  <div ng-show="addpatient.phone.$error.required" class="serror">Mobile number is required.</div> -->
    <div ng-show="addpatient.phone.$error.minlength" class="serror">Mobile number is too short.</div>
    <div ng-show="addpatient.phone.$error.maxlength" class="serror">Mobile number is too long.</div>
    </label> 

    <div class="item item-divider">Gender</div> 	
    <ion-list>
    <div class="row listreq">
    <div class="col cradio"><ion-radio ng-model="gender" ng-name="gender" name="gender" ng-value="'1'"  value="1" >Male</ion-radio></div>
    <div class="col cradio"> <ion-radio ng-model="gender" ng-name="gender" name="gender" ng-value="'2'" value="2">Female</ion-radio></div>
<!--     <div ng-show="addpatient.gender.$error.required" class="serror">Gender is required.</div> -->
    </div>
    </ion-list>			
    <div class="item item-divider">Date Of Birth</div> 	
    <label class="item item-input">
    <input type="date" placeholder="DOB" value={{curTime|dateFormat4}} ng-model="curTime" name="dob">
    </label>

    </ion-content>
    <div class="fixedbar">
    <button type="submit" class="button btn-add nav-clear" ng-click="savePatient()" ng-disabled="addpatient.$invalid" > <i class="ion-check"></i>  Submit</button>
	
    </div>
    </form>
    </ion-modal-view>
</script>


