<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Peers</span>
    </ion-nav-title>
    <ion-content>
   

		<div class="row tabnav">
		<div class="col"><a  ui-sref="#" class="active">My Peers</a></div>
		<div class="col"><a  ui-sref="#" >Requests</a></div>
	   </div>	
		
		
		
<!-- 		
<form>
<ion-item class="item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-ios7-search placeholder-icon"></i>
		<input id="searchKey" class="searchInputText" type="search" placeholder="Search" ng-model="searchKey.words" ng-focus="searchFocused = true" ng-blur="searchFocused = false" autocorrect="off" >
		<input type="submit" ng-click="search()" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
		<span class="button button-icon" ng-click="clear()" ng-show="searchKey.words.length" ><i class="icon ion-ios7-close-empty"></i></span>
	</label>
	<button class="button button-clear" ng-show="searchFocused" ng-click="cancel()" >cancel</button>
</ion-item>
</form> -->
		
		
		
		
		
		
		<div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" id="searchKeyw" placeholder="Search"  ng-focus="abc = true" >
					<div class="searchclose"  ng-show="abc">X</div>
                </label>
				
            </div>
		
		
		
		
		
		 <div class="list mb0" >
            
            	<a class="posts-list" ui-sref="app.peers-detail">
					<div  class="list card post-item mb15">
						<div class="post-content item item-text-wrap p0">
							<div  class="card-content paraspacing">
								<div class="cardheading">Dr.Abc <div class="item-mob">+9123456789</div></div>
								<div class="row">
								<div class="col txt-left">Specialization</div>	
								<div class="col txt-right">Focus Area</div>	
								</div>
								
							</div>
						</div>
					</div>
				</a>
				
				<a class="posts-list" ui-sref="app.peers-detail">
					<div  class="list card post-item mb15">
						<div class="post-content item item-text-wrap p0">
							<div  class="card-content paraspacing">
								<div class="cardheading">Dr.Abc <div class="item-mob">+9123456789</div></div>
								<div class="row">
								<div class="col txt-left">Specialization</div>	
								<div class="col txt-right">Focus Area</div>	
								</div>
								
							</div>
						</div>
					</div>
				</a>
			
				
        </div>
		
		
		
		
		
		
		
		
		
		
		
<!-- 		<a  ui-sref="app.peers-detail" class="profilelist">
        <div class="item item-divider">
		<i class="icon ion-person"></i> Dr.Abc <div class="item-mob">+9123456789</div></div>
		<div class="list">
			
			<p class="">
				Specialization<br/>
				Focus Area
			</p>
		</div>	
		</a>
		
		<a  ui-sref="app.peers-detail" class="profilelist">
        <div class="item item-divider">
		<i class="icon ion-person"></i> Dr.Xyz <div class="item-mob">+9123456789</div></div>
		<div class="list">
			
			<p class="">
				Specialization<br/>
				Focus Area
			</p>
		</div>	
		</a>  -->
	</ion-content>
</ion-view>




