<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Library</span>


    </ion-nav-title>
    <ion-nav-buttons side="right"  >
        <button  ng-click="modal.show()" class="button button-positive w100p brdradious0"> 
            <strong>Create</strong> </button>
    </ion-nav-buttons>
    <ion-content class="">

        <div class="row tabnav">
            <div class="col"><a  ui-sref="app.content-library"  class="active" >Created by you</a></div>
            <div class="col"><a  ui-sref="app.library-feed" >Shared with you</a></div>
        </div>	


        <div class="posts-list" ng-if="clab != ''">

            <div  class="list card post-item greenbox" ng-repeat="contentLab in clab">
                <a ui-sref="app.view-content-value({'id': contentLab.id})" class="card-content p0">
                    <div class="row post-heading item item-text-wrap "  ng-class="{'fillbg': contentLab.content_type == 'video' }">
                        <div class="col col-75">
                            <h2 class="post-title">{{contentLab.content_title| capitalize}}</h2>
                            <p class="post-author">
                                By <span>{{contentLab.user}}</span> <span>{{contentLab.created_at| dateFormat3}}</span>
                            </p>
                        </div>
                        <div class="col col-25 ">


                            <div ng-if="contentLab.content_type == 'video'" class="indicater txt-center video">
                                <i class="icon ion-ios-videocam f20"></i><br/>
                               {{contentLab.duration | timesec}} 
                            </div> 

                            <div ng-if="contentLab.content_type == 'artcle'" class="indicater txt-center article">
                                <i class="icon ion-ios-list-outline f20"></i><br/>
                                {{contentLab.content_value.length / 1000| ceil}} min(s)
                            </div> 

                        </div>
                    </div>

                    <div class="post-content item item-text-wrap" post-content>
                        <p class="post-excerpt pb10" dynamic-anchor-fix>
                            {{contentLab.content_desc}}
                        </p>
                        <div ng-if="contentLab.content_type == 'artcle'">
                            <p class="imgincard pb10" ng-if="contentLab.header_img != ''" >  <img src="{{attachpath}}{{contentLab.header_img}}" /></p>
                        </div>		
                      <!--  <div  class="framecontainer mb10"  ng-if="contentLab.content_type == 'video'"> 
                           
                            <video width="100%" style="min-height:50px;" controls preload="metadata">
                                <source src="{{trustSrc(contentLab.url)}}" type="video/mp4">
                               
                              Your browser does not support the video tag.
                            </video> 

                        </div> -->
                        <div class="post-actions ">
                            <p class="pb10"> <strong>Category </strong>|  <span ng-repeat="specialisation in contentLab.spec">{{specialisation}}{{$last==true? '': ',&nbsp;'}}  </span>
                            </p>
                            <!--<p class="pb10"> <strong>Tags </strong>|  </p>-->
                            <p class="pb10"> <strong>Language </strong>| <span ng-repeat="language in contentLab.lang">{{language| capitalize}} {{$last==true? '': ',&nbsp;'}} </span> </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
       
    </ion-content>

</ion-view>



<script id="create-library" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Actions</h1>	 
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>

    <div class="row">
    <div class="col"><div class="custombtn" ng-controller="CloseModalCtrl" ng-click="modalclose('app.newarticle')" ><i class="ion-ios-list-outline"></i> Text Article</div></div>
    </div>
    <div class="row">
    <div class="col"><div class="custombtn" ng-controller="CloseModalCtrl" ng-click="modalclose('app.new-video-article')"><i class="ion-ios-videocam"></i> Video Article</div></div>
    </div>

    </ion-content>

    </ion-modal-view>
</script>






