<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Video Broadcast</span>
  </ion-nav-title>
  <ion-content>
  <div class="row tabnav">
            <div class="col"><a  ui-sref="app.video-broadcast-create"   >Create</a></div>            
            <div class="col"><a ui-sref="app.video-broadcast"  class="active" >Broadcasts</a> </div>
          
  </div>
  <br>
  <div>
    <h3 class="box-title">
    <button  ng-click="createSession(chatTopic)" type="button">Start Instant Broadcast</button>
    <button  ng-click="schedule()" type="button">Schedule a Broadcast</button>
    &nbsp;&nbsp;
    <input class="btn-video-broadcast" type ="text" name="chatTopic" ng-model="chatTopic" value="chatTopic" />
    </h3>
  </div>
  <br>        
  <div class="list cdetail-list" >
      <div class="chatlist achat"  ng-repeat="vb in videoBroadcastList">
          <a class="item item-icon-right">
          <span class="title">{{vb.user.fname}}</span>
          <p class="description">{{vb.topic}}</p>
          </a>
          <br>
          <button ng-click = "joinSession(vb.id,vb.session_id)" ng-if="vb.start <= date"> Join </button>
          <button ng-click = "joinAndPublish(vb)" ng-if="vb.start <= date"> Join and publish </button>
          <br>
      </div>
  </div>
  </ion-content>
</ion-view>
