<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Video Broadcast</span>
  </ion-nav-title>
  <ion-content>
  <br>
  <div>
    <h3 class="box-title">
    <button  ng-click="createSession(chatTopic)" type="button">Start New Broadcast</button>
    &nbsp;&nbsp;
    <input class="btn-video-broadcast" type ="text" name="chatTopic" ng-model="chatTopic" value="chatTopic" />
    </h3>
  </div>
  <br>        
  <div class="list cdetail-list" >
      <div class="chatlist achat" ng-click="joinSession(vb.id,vb.session_id)" ng-repeat="vb in videoBroadcastList">
          <a class="item item-icon-right">
          <span class="title">{{vb.user.fname}}</span>
          <p class="description">{{vb.topic}}</p>
          </a>
      </div>
  </div>
   <div class="mediascreen mdhight">
            <!--<iframe class="videochat" ng-src="{{trustSrc(oToken)}}" ></iframe>-->
            <div id='myPublisherDiv' style="position:absolute;right: 10px;bottom:10px"></div> 
            <div id='subscribersDiv' class="subscribediv">Waiting for patient to join!</div> 
        </div>s
  </ion-content>
</ion-view>
