<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Video Broadcast</span>
  </ion-nav-title>
  <ion-content>
  <br>
  <div>
    <h3 class="box-title">
    <a ng-click="startSession(chatTopic)" class="btn-video-broadcast" type="button">Start New Broadcast</a> 
    &nbsp;&nbsp;
    <input class="btn-video-broadcast" type ="text" name="chatTopic" ng-model="chatTopic" value="chatTopic" />
    </h3>
  </div>
  <br>        
  <div class="list cdetail-list" >
      <div class="chatlist achat" ng-click="generateToken(vb.id)" ng-repeat="vb in videoBroadcastList">
          <a class="item item-icon-right">
          <span class="title">{{vb.user.fname}}</span>
          <p class="description">{{vb.topic}}</p>
          </a>
      </div>
  </div>
  </ion-content>
</ion-view>
