<ion-view class="payment-view">
    <ion-nav-title>
        <span>Payment</span>
    </ion-nav-title>
    <ion-content>
        <div class="content-section">
            <div class="list card" style="margin:0;">
                <div class="item item-body allp" ng-repeat="doc in doctor">
                    <p><strong> Dr.Deepam Shah</strong><br/>
                        <span >
                            Dermatologist,Cosmetologist   
                        </span>
                    </p>
                    <!--<p><strong>Qualification</strong><br/>MBBS,MD</p>-->
                   
                    <ul class="clist">
                        <li>Video chat, Video </li>
                        
                    </ul>
                    <p ><strong>Appointment Details</strong> <br/> 
                        <span >
                        <strong>Date: </strong>09 MAR 2016<br/>
                        <strong>Time: </strong>03:40 To 04:00<br/>
                        </span>
                       
                        <!---<strong>Mode: </strong> Video<br/>
                        <strong>Address: </strong> 10AM to 11AM <br/>-->
                    </p>
                </div>
            </div>
            <div class="ctab">
                <my-tabs class="themetabs">
                    <my-tab title="Pay Now" >
                        <div class="tabcontainer" style="margin-top:0;">
                            <h4 class="txt-centre" style="margin-top:10px; margin-bottom:10px;">Price: INR 500</h4>
                            <div class="row" >
                                <div class="col col-75">
                                    <input type="text" class="custominput" id='coupon' Placeholder="Enter Coupon Code" ng-model="ccode" />
                                    <span id="coupon_error"></span>
                                </div>
                                <div class="col">
                                    <button class="button button-small button-assertive csbtn" >Apply</button>
                                    
                                </div>
                            </div>
                            <div class="fg txt-centre" >Applied Discount</div>
                           
                            <div class="section-footer"> <!---ui-sref="app.success"-->
                                <a ng-if="mode == 1 || mode == 2 " ng-click="payNow(product[0].interfacePrice - discountApplied)" class="button button-full button-positive">Confirmation</a>                                
                            </div>
                            <p class="agreelink">
                                By Clicking on the button above, you agree to the <span dynamic-anchor-fix><a href="https://doctrs.in/termsandconditions.pdf" target="_blank">terms & conditions</a></span> and have read the <span dynamic-anchor-fix><a href="https://doctrs.in/privacypolicy.pdf" target="_blank">privacy policy</a> </span> & <span dynamic-anchor-fix><a href="https://doctrs.in/CancellationPolicy.pdf" target="_blank">cancellation policy.</a></span>
                            </p>
                        </div>
                    </my-tab>
                   

				   <!-- 
                            <my-tab title="I have Package" >
            <div class="tabcontainer">
                Under Construction
            </div>
        </my-tab> -->
                </my-tabs>











                </ion-tabs>
            </div>

        </div>

    </ion-content>
</ion-view>