<ion-view class="category-list-view">
	  <button class="button button-clear button-positive">Edit</button>
  <ion-nav-title>
    <span>Home</span>
</ion-nav-title>

  <ion-content>
  <div class="list catlist">

		
		<a class="item item-icon-right" ui-sref="app.doctrslist" >
			 <i class="cicon ion-android-person-add"></i>
			<span class="ctitle">Doctors</span>	
		
		</a> 
		 <a class="item item-icon-right" ui-sref="app.patient-list" >
			 <i class="cicon ion-person-stalker"></i>
			<span class="ctitle">Patients</span>	
		</a> 
		

		
		<a class="item item-icon-right" ui-sref="app.inventory" >
		<i class="cicon ion-cube"></i>
			<span class="ctitle">Inventory</span>	
		</a>
		
		

		
			 
		
		<div class="item item-divider" style="margin-top:30px;">Shortcuts</div> 
							
							<div class="row cbtn3 mtb15">
								<div class="col">
									<a class="Cstmbutn button-small" ui-sref="app.consultations-note">
										<span class="icon ion-plus-circled"></span> Note</a> 
								</div>
								<div class="col">
									<div class=" Cstmbutn button-small">
										<span class="icon ion-plus-circled"></span> Appointment</div> 
								</div>
								
							</div>	
		
			 
			 
			 
			 
			 
		<!--   <a class="item item-icon-right"  ui-sref="app.patient-list">
			 <i class="cicon ion-fork-repo"></i>
			 <span class="ctitle">Patients</span>
		
		  </a>

			<a class="item item-icon-right" ui-sref="#">
			 <i class="cicon ion-android-done"></i>
			<span class="ctitle">Library</span>
			
		  </a>

		<a class="item item-icon-right" ui-sref="#" >
			 <i class="cicon ion-android-chat"></i>
			<span class="ctitle">Chats</span>
	
		  </a>
		
		   -->

		  
		  
		  

		</div>
	  
	  
	  
	  
	  
	  
 
  </ion-content>
</ion-view>