<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Disbursement</span>
    </ion-nav-title>
    <ion-content>
	
	<label class="item item-input item-select">
		<div class="input-label">Patient</div>
		<select name="">
			<option value="" >Select </option>
			<option  value="" selected>Naresh</option>
			<option  value="">Leena</option>
			<option  value="">Bhavana</option>
		</select>
	</label>

	<label class="item item-input item-select">
		<div class="input-label">Doctor</div>
		<select name="">
			<option value="" >Select </option>
			<option  value="">Dr. Naresh</option>
			<option  value="" selected>Dr. Leena</option>
			<option  value="">Dr. Bhavana</option>
		</select>
	</label>

	<label class="item item-input listreq"><span class='input-label'>Consultation Date</span>
	<input type="date" ng-model="" placeholder="" value="03/08/2016"  name="das" required /></label>

	<label class="item item-input listreq"><span class='input-label'>Consultation Date</span>
	<input type="time" ng-model="" placeholder="" value="03/08/2016"  name="daas" required /></label>


        
		<label class="item item-input item-select">
		<div class="input-label">Patient Type</div>
		<select name="">
			<option value="" >Select </option>
			<option  value="" selected>Outpatient</option>
			<option  value="">Inpatient</option>
			<option  value="">Emergency</option>
		</select>
	</label>

		<label class="item item-input item-select">
		<div class="input-label">Mode</div>
		<select name="">
			<option value="" >Select </option>
			<option  value="" selected>Clinic</option>
			<option  value="">Home</option>
			<option  value="">Video</option>
		</select>
	</label>

		<div class="item item-divider mt15">Disbursement
		<a class="Cstmbutn button-small col-25" ui-sref="app.add-disbursement" style="float:right; padding:0;"><span class="icon ion-plus-circled"></span> Add </a>
		</div>

		<div class="item newlist-item">
		<div class="hreflink"><h2 class="ng-binding">Crocin 
		<span class="flt-right">3 strips</span></h2></div>
<div class="uinfo" ng-click="modal.show();"><i class="ion-ios-close-empty"></i></div>
		</div>





    </ion-content>
	
	<div class="fixedbar">
    
	<a class="button btn-delete">Cancel</a>
	<a class="button btn-add" ui-sref="#">Save </a>
	</div>
</ion-view>