<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Search Results</span>
    </ion-nav-title>
    <ion-content>
	
	<div class="infoheader">

	<div class="row">
	<div class="col col-67">
<span class="fbold">Crocin</span> <br/>10 strips</div>
<div class="col col-33">
<a  ui-sref="app.medicine-history" class="button button-small button-balanced flt-right">History</a></div>
	</div>


	
	</div>
	

	<div class="item item-divider ng-binding">Treatment Plan</div>
	<p class="p15">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

	<div class="item item-divider ng-binding">Side Effect</div>
	<p class="p15">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>


</ion-content>
	
	<div class="fixedbar">
    <a class="button btn-add">Add</a>
	<a class="button btn-share" ui-sref="app.disbursement">Disbursement </a>
	</div>
</ion-view>