<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>History</span>
    </ion-nav-title>
    <ion-content>
		<div class="row tabnav">
		<div class="col"><a  ui-sref="app.medicine-history" >Inbond</a></div>
		<div class="col"><a  ui-sref="app.medicine-outgo" class="active" >Outgo</a></div>
		 </div>	

	

	 <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <p class="post-title">
			<span class="fbold">Naresh</span><br/>
			2 strips, <br/>
			Lorem Ipsum is simply dummy text of the printing
			</p>
			</div>
       </div>

	 <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <p class="post-title">
			<span class="fbold">Leena</span><br/>
			2 strips, <br/>
			Lorem Ipsum is simply dummy text of the printing
			</p>
			</div>
       </div>


	 <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <p class="post-title">
			<span class="fbold">Bhavana</span><br/>
			2 strips, <br/>
			Lorem Ipsum is simply dummy text of the printing
			</p>
			</div>
       </div>


</ion-content>
	
	<div class="fixedbar">
    <a class="button btn-add">Add</a>
	<a class="button btn-share" ui-sref="app.disbursement">Disbursement </a>
	</div>
</ion-view>