<ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Family History</h1>   

    </ion-header-bar>
    <ion-content>
        <div class="tabcontainer">
            <div class="text-right">
                <button class="button" ng-controller="AddrelationCtrl" ng-click="modal.show()"><span class="ion-plus-circled"></span> Add Relation</button> 
            </div>

            <div class="posts-list">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div  class="card-content paraspacing">
                            <div class="cardheading">Relation:Father 
                                <div class="edit-btn-card">
                                    <a ui-sref="#" ><i class="ion-edit"></i></a>
                                    <a ui-sref="#"><i class="ion-trash-b"></i></a>
                                </div>
                            </div>
                            <p class="txt-left"><strong>Age:</strong>55 <br/>
                                <strong>Known Conditions:</strong> Lorem Ipsum, Simply dummy,  Printing
                                <br/>
                                <strong>Other Information:</strong> Lorem Ipsum simply dummy printing
                                <br/>
                            </p>

                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>	

            <div class="posts-list">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div  class="card-content paraspacing">
                            <div class="cardheading">Relation:Mother 
                                <div class="edit-btn-card">
                                    <a ui-sref="#" ><i class="ion-edit"></i></a>
                                    <a ui-sref="#"><i class="ion-trash-b"></i></a>
                                </div>
                            </div>
                            <p class="txt-left"><strong>Age:</strong>48 <br/>
                                <strong>Known Conditions:</strong> Lorem Ipsum, Simply dummy,  Printing
                                <br/>
                                <strong>Other Information:</strong> Lorem Ipsum simply dummy printing
                                <br/>
                            </p>

                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>	







        </div>


    </ion-content>
    <div class="fixedbar">
        <div class="button btn-delete iframeclose"><i class="ion-close"></i> Cancel</div>
        <div class="button btn-add iframesubmit"><i class="ion-checkmark"></i> Save</div>
    </div>
</ion-view>



<script id="addrelation" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Add New Relation</h1>
    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
    <label class="item item-input item-select">
    <div class="input-label">
    Select Relation
    </div>
    <select>
    <option selected>Father</option>
    <option >Mother</option>
    <option>Brother</option>
    <option>Grand Father</option>

    </select>
    </label>

    <label class="item item-input">
    <span class="input-label">Age</span>
    <input type="text" placeholder="Enter Age">
    </label>
    <div class="item item-divider prelative">
    Know Conditions 
    <a ui-sref="#" class="addbtn2"><i class="ion-plus-circled"></i></a>
    </div>

    <div class="addremoverow first">
    <label class="item item-input">
    <input type="text" placeholder="Enter Condition">
    </label>
    </div>

    <div class="addremoverow">
    <label class="item item-input">
    <input type="text" placeholder="Enter Condition">
    </label>
    <a ui-sref="#" class="addremovebtn"><i class="ion-minus-circled"></i></a>
    </div>

    <div class="item item-divider prelative">
    Other Information
    </div>
    <label class="item item-input">
    <textarea row="5"></textarea>
    </label>



    <button class="button button-full button-positive" ng-click="submitmodal()">Submit</button>
    </div>
    </ion-content>
    </ion-modal-view>
</script>

