<ion-view class="category-list-view">
    <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Observations</h1>
    </ion-header-bar>

    <ion-content>
        <div class="tabcon2">
            <div class="row cbtn3">
                <button class="col button" ng-click="showM()">
                    <span class="icon ion-plus-circled"></span> Plain Text
                </button>
                <!--                <button class="col button" ng-controller="SnowmedtCtrl" ng-click="modal.show()">
                                    <span class="icon ion-plus-circled"></span> Snomed
                                </button>
                                <button class="col button " ng-controller="IcdCtrl" ng-click="modal.show()">
                                    <span class="icon ion-plus-circled"></span> ICD
                                </button>-->
            </div>
            <!--            <div class="posts-list" >
                            <div  class="list card post-item">
                                <div class="post-content item item-text-wrap p0">
                                    <div  class="card-content paraspacing">
                                        <div class="cardheading">Plain Text <div class="edit-btn">
                                                <a ui-sref="#" ng-controller="PlaintestCtrl" ng-click="modal.show()"><i class="ion-edit"></i></a></div></div>
                                        <p>Plain text 1,  Plain text 2, Plain text 1</p>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="posts-list">
                            <div  class="list card post-item">
                                <div class="post-content item item-text-wrap p0">
                                    <div  class="card-content paraspacing">
                                        <div class="cardheading">Snomed <div class="edit-btn">
                                                <a ui-sref="#" ng-controller="SnowmedtCtrl" ng-click="modal.show()"><i class="ion-edit"></i></a></div></div>
                                        <p>Snomed 1,  Snomed 2, Snomed 1</p>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
            <div class="posts-list" ng-repeat="obj in objText">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div  class="card-content paraspacing">
                            <div class="cardheading">{{$index + 1}}
                                <div class="edit-btn">
                                    <div  ng-controller="PlaintestCtrl" ng-click="showEM({{$index}})"><i class="ion-edit"></i></div>
                                </div>
                            </div>
                            <p>{{obj.value}}</p>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="button btn-delete iframeclose"><i class="ion-close"></i></div>
    <button class="button btn-add iframesubmit"  ng-click="saveDObj()"><i class="ion-checkmark"></i> Save</button>
</ion-view>

<script id="addeval" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Plain Text</h1>
    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
    <label class="item item-input">
    <textarea ng-model="observation.value" type="text" col="" rows="10" placeholder="Enter"></textarea>
    </label>
    <div class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Mark as Summary </ion-checkbox>
    </div>
    <button class="button button-full button-positive" ng-click="submitmodal(observation.value)">Submit</button>
    </div>
    </ion-content>
    </ion-modal-view>
</script>

<script id="editVal" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Plain Text</h1>
    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
    <label class="item item-input">
    <textarea ng-model="observation" type="text" col="" rows="10" placeholder="Enter"></textarea>
    </label>
    <div class="mtb20">
    <ion-checkbox ng-model="filter.makesummary">Mark as Summary</ion-checkbox>
    </div>
    <button class="button button-full button-positive" ng-click="submitmodal(observation)">Submit</button>
    </div>
    </ion-content>
    </ion-modal-view>
</script>