
<div class="tcontent" ng-controller="FamilyHistoryCtrl">
    <div class="row text-right">
        <button class="button button-positive flt-right m10" ng-controller="AddrelationCtrl" ng-click="modal.show()"><span class="ion-plus-circled"></span> Add Relation</button> 
    </div>
    <div class="list card post-item greenbox" ng-repeat="rdata in recorddata">
        <div class="card-content p0">
            <div class="row post-heading item item-text-wrap ">
                <div class="col col-75">
                    <h2 class="post-title">Relation: {{rdata.record_metadata[1].value}}</h2>
                </div>
<!--                <div class="col col-25 edit-btn-card">
                                <a ><i class="ion-edit"></i></a>
                                <a ><i class="ion-trash-b"></i></a>
                            </div>-->
            </div>
            <div class="post-content item item-text-wrap p0">
                <div class="row">
                    <div class="col">Age</div>
                    <div class="col">: {{rdata.record_metadata[2].value}}</div>
                </div>
                <div class="row">
                    <div class="col">Known Conditions</div>
                    <div class="col">: <span ng-repeat="sel in knConditions[$index]"> {{sel.condition}} <br/></span></div>
                </div>
                <div class="row">
                    <div class="col">Other Information</div>
                    <div class="col">: {{rdata.record_metadata[4].value!=''? rdata.record_metadata[4].value:'NA'}}</div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="posts-list">
            <div  class="list card post-item" ng-repeat="rdata in recorddata" >
                <div class="post-content item item-text-wrap p0">
                    <div  class="card-content paraspacing">
                        <div class="cardheading">Relation: {{rdata.record_metadata[1].value}}
                            <div class="edit-btn-card">
                                <a ><i class="ion-edit"></i></a>
                                <a ><i class="ion-trash-b"></i></a>
                            </div>
                        </div>
                        <p class="txt-left">
                            <strong>Age: </strong><span>{{rdata.record_metadata[2].value}}</span><br/>
                            <strong>Known Conditions:</strong> <li ng-repeat="sel in knConditions[$index]">{{sel.condition}}</li>
                        <br/>
                        <strong>Other Information:</strong> {{rdata.record_metadata[4].value}}
                        <br/>
                        </p>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>	-->
</div>

<script id="addrelation" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Add New Relation</h1>
    <button class="button button-clear" ng-click="submitmodal()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
    <form name="addFamilyForm" id="addFamilyForm" enctype="multipart/form-data" novalidate >
                        <input type="hidden" ng-model="record.recordUser" value="{{userId}}" name="userId" />
                        <input type="hidden" value="Patient History" name="rectype" />
                        <input type="hidden" ng-model="record.recordPatient" value="{{patientId}}" name="patient" />
                        <input type="hidden" ng-model="record.recordPatient" value="{{doctorId}}" name="doctor" />
                        <input type="hidden" ng-model="record.recordCat" value="{{record.id}}" name="recordCat" />
                        <input type="hidden" ng-model="conIds" id="selconFam" value="" name="conditions" />
                        <div ng-repeat="field in fields">
                            <div ng-if="field.field_types.value == 'select'">
                                <div class="item item-divider">{{field.field}}</div>
                                <label class="" ng-init="radioData = (field.field_values).split(',')" ng-model="radioData">
                                    <select class="form-control cselect" ng-required="true" ng-init="selData = (field.field_values).split(',')" name="{{field.name}}">
                                        <option value="0" ng-selected="1"> Select {{field.field}}</option>
                                        <option ng-repeat="sel in selData" value="{{sel}}"> {{sel}} </option>
                                    </select>
                                </label>
                            </div>
                            <div ng-if="field.field_types.value == 'number'">
                                <div class="form-group">
                                    <div class="item item-divider">Age</div>
                                    <label class="item item-input">
                                        <input class="form-control" type="number" placeholder="Enter Age" ng-required="true" name="{{field.name}}"  />
                                    </label>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group" ng-if="conditions.length > '0'">
                            <div class="item item-divider">Known conditions</div>
                            <ion-list>
                                <div class="crow">
                                    <div class="col-half" ng-repeat="con in conditions track by $index">
                                        <ion-checkbox ng-model="conId[con.id]" ng-click="getCondition(con.id, con.condition)" ng-checked="getPreCon({{con.id}})">{{con.condition}}</ion-checkbox>
                                    </div>
                                </div>
                            </ion-list>
                            <div class="clr"></div>


                        </div>
                        <div ng-repeat="field in fields">
                            <div class="form-group" ng-if="field.field_types.value == 'textarea'">
                                <div class="item item-divider">Other Information</div>
                                <label class="item item-input">
                                    <textarea class="form-control" row="3" name="{{field.name}}"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row mtop20">
                            <div class="col">
                                <button class="button button-block button-positive" ng-click="saveFamilyHistory()"> Save</button>
                                <div class="foterspacing"></div>
                            </div>
                            <div class="col">
                                <button class="button button-block button-assertive" ng-click="submitmodal()">Cancel</button>
                            </div>
                        </div>
                    </form>
    </ion-content>
    </ion-modal-view>
</script>